:root{
	
	--font-color: #342f2f;
	--light-font-color: #666;
	--link-hover: #4ac380;
	--light-gray: #f7f7f7;
	--midle-gray: #a5a5a5;
	--white-color: #fff;

	--background-blue: #0fd6cf;
	--border-color: #dddddd;
}


h1, h2, h3, h4, h5, h6, a, body, #admin-menu span {
	font-family: 'Open Sans', sans-serif;
}
header .site-navigation li a, 
header .dropdown-nav a,
.header-cart .desc {
	font-size: 1em;
	font-weight: 500;
}
.action-heading a {
	font-weight: 600;
	letter-spacing: normal;
}
.JSproduct .buy-btn, 
.JSproduct .not-available {
	font-weight: 600;
	font-size: 1em;
}
.JSproduct .shop-product-card .product-name h2 {
	font-weight: normal;
	font-size: 1.1em;
	text-transform: none;
}
.product-name-div .product-price {
	color: #000;
}
.JSproduct .shop-product-card .sale-label {
	box-shadow: 0px 6px 8px -4px #5d5d5d;
}
.section-news .news-title {
	font-size: 16px;
	font-weight: normal;
}
footer .footer-content {
	background-color: var(--light-gray);
}
footer .footer-title {
	font-weight: 600;
	font-size: 1.1em;
}
.newsletter-form button:hover {
    background-color: #e84f4f;
}
.JSmain-slider {
	background-blend-mode: initial;
}
.single-news-on-page .more-news-div a {
	color: initial;
}
.single-news-on-page .more-news-div a:hover {
	color: var(--link-hover);
}
.next-prev-news .prev-div a, .next-prev-news .next-div a, .more-post-div .more-post-title {
	font-weight: normal;
}
.title {
	font-weight: 700;
}

#admin-menu span {
    font-size: 14px;
}
.new-content p, .new-content ul li {
	font-weight: 500;
}
.single-news-section .single-news p {
	font-weight: 500;
}
.section-news .slick-next, 
.section-news .slick-prev, 
.action-type-section .action-btn, 
.single-news-slider .slick-next, 
.single-news-slider .slick-prev {
	border-radius: 0px;
}

.shop-product-card {
    position: relative;
    border: none;
    -webkit-transition: border .25s ease-in-out,box-shadow .25s ease-in-out,background-color .25s ease-in-out;
    transition: border .25s ease-in-out,box-shadow .25s ease-in-out,background-color .25s ease-in-out;
    box-shadow: 0px 3px 12px 1px #d8d8d8;
    -webkit-box-shadow: 0px 3px 12px 1px #d8d8d8;
}
.add-to-cart-area .orange-btn {
    padding: 12px 1.5em;
    margin: 0px;
}

.JSproduct-slider button {
	display: inline-block;
    position: absolute;
    top: 42%;
    z-index: 4;
    width: 50px;
    height: 50px;
    border: none;
    box-shadow: 0 0 25px 0 rgba(0,0,0,.07);
    background-color: #fff !important;
    padding: 0px;
}

.JSproduct-slider .slick-prev, .JSproduct-slider .slick-next {
    top: 42%;
}
.JSproduct-slider .slick-next {
    right: -8px;
}
.JSproduct-slider .slick-prev {
    left: -8px;
}
.features-list li {
	font-weight: 500;
}
.article-heading {
	font-weight: 700;
	font-size: 36px;
}
.all-articles .JSproduct {
    width: 33%;
    margin-right: 0%;
}
.article-details-page #description-tab p {
	font-weight: 500;
}
.login-page label, .registration-page label, .logged-user-page label, .cart-page label, #the-comments label, #loginModal label {
    font-size: 1em;
}
.user-orders-table th, td {
	font-size: 16px;
}
a.orange-btn, .orange-btn {
	font-size: 1.1em;
}
.JSproduct-list-options .number-of-prdocut, .JSproduct-list-options .currency-btn {
	font-size: 1em;
}
.dropdown-menu>li>a {
	font-weight: 500;
}
.related-section .section-heading, .bound-section .section-heading {
	padding-left: 0px;
}
a.elevatezoom-gallery {
	border-radius: 6px;
}
.all-articles .JSproduct {
	width: 24.7%;
}
.amount-section .amount-div .value span {
	font-weight: 700;
}
#fixed_header {
    background-color: #2f754e;
}
#start-page #fixed_header {
    background-color: transparent;
}
.animate-header {
    background-color: #2f754e !important;
}
.single-news-on-page .short-description {
	font-size: 14px;
}
.header-cart-content .name {
	font-size: 0.9em;
}

@media (max-width: 1200px) {
	.products-page .JSproduct-list .JSproduct {
	    width: 49.6%;
	    margin-right: 0%;
	}
	.all-articles .JSproduct {
	    width: 33%;
	} 
}

@media screen and (min-width: 1024px) {
	.newsletter-form button:hover {
	    background-color: #2b9a5d;
	}
	.JSproduct-slider button:hover {
		background-color: #f9f9f9 !important;
	}

    #start-page #fixed_header .site-navigation li a:hover, 
    #start-page header#fixed_header .dropdown-nav > a:hover, 
	#start-page header#fixed_header > a:hover, 
	#start-page header#fixed_header .header-cart > a:hover .desc
	{
        color: var(--link-hover) !important;
    }
 
}

@media screen and (max-width: 991px) {
	.all-articles .JSproduct {
	    width: 49%;
	}
}

@media screen and (max-width: 640px) {
	#fixed_header .site-navigation li a {
		color: var(--body-color);
	}
	header .site-navigation {
	    padding: 60px 30px 30px;
	}
}


@media screen and (max-width: 640px) {
	.empty-cart .title {
		font-size: 3em;
	}
	.cart-page .orange-btn {
		padding: 14px 17px 14px 25px;
    	font-size: 16px;
	}
	.newsletter h5 {
		font-size: 1.5em;
	}
	.add-to-cart-area .orange-btn {
	    font-size: 1em;
	}
}

@media screen and (max-width: 560px) {
	.products-page .JSproduct-list .JSproduct {
	    width: 98%;
	    margin: 0px auto;
	    display: block;
	    margin-bottom: 20px;
	}
	.all-articles .JSproduct {
	    width: 98%;
	    margin: 0px auto 45px;
	}
}