
body {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: normal;  
    color: var(--body_color); 
    background-color: var(--body_bg);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}  
/*NO MARGIN*/
body, .no-margin, .row, input[type="checkbox"], input[type="radio"], ul, h1, h2, h3, h4, h5, h6,
.product-timer, input.JScart-amount, input.cart-amount, .vezani_artikli .linked-articles-input,
.JScookies-part .nav > li > a, .dellivery-info > div p, .right-product-price p,
.price-num.discount
{
    margin: 0; 
}
/***************************************/
/*MARGIN 15px*/
.margin-15 {
    margin: 0 15px;
}
/***************************************/
/*NO PADDING*/
body, .no-padding, .currency-list, .login-dropdown, ul, .JSsticky_header .logo,  
input.JScart-amount, input.cart-amount
{
    padding: 0; 
} 
.flex-center{
    justify-content:center;
}
/***************************************/
/*TEXT CENTER*/
.JSsubcat-toggle,
.shop-product-card-list .ribbon-sale span, .JSscroll-top, .zoomWrapper, 
input.JScart-amount, input.cart-amount, .user-orders-table th, .user-orders-table td, .bootbox p, .vezani_artikli .linked-articles-input,
.admin-article, .article-edit-btn, .like-it, .printer a i, .shop-product-card .currency-info
{
    text-align: center;
}
/***************************************/
/*RELATIVE*/
.relative, .section-title, .JSlevel-2 li, .JSlevel-1 li,
.zoomWrapper, .files-list-item, .main-menu li, .JSproducts_slick,
.pdf-foots
{
    position: relative;
}
/***************************************/
/*INLINE BLOCK*/
.inline-block, .capcha input[type="text"],  .selected-filters li, 
.buy-btn, .not-available, .generic_car ul li, .generic_car_list ul li,
.product-tags a,  .footer-links li a, #JScompareTable .JSclearCompare,
.article-level-edit-btn, .files-list-item, .features-list li,  
.mini-cart-sum i, .sum-label, .sum-amount, .like-it, .printer a i,
.top-menu .login-dropdown li a, .JSlist-article .section-title, .mp-price, .discount
{
    display: inline-block;
}
/***************************************/
/*COLOR WHITE*/
.shop-product-card-list .ribbon-sale span,
.show-compered-active:hover, .show-compered-active:focus,
.show-compered:focus, .show-compered:hover, #JScompareTable .JSclearCompare, .bootbox .modal-dialog .btn:nth-child(1),
.text-white, .show-compered, .show-compered-active, .call-centar,
.JSlist-article:nth-of-type(2) .shop-product-card .product-name, .JSseparated:nth-of-type(2) .currency-info span,
.JSseparated:nth-of-type(2) .mp_price_grid, .JSseparated:nth-of-type(2) .product-old-price,
.JSlist-article:nth-of-type(2) .section-title, .JSlist-article .section-title
{
    color: #fff;
}
/***************************************/
/*BOLD*/

/*FONT 700*/
.JSlevel-2 .clearfix > li > a 
{
    font-weight: 700;
}
/***************************************/
/*FONT 600*/
.text-bold, .compare-table tr td:first-child, 
.comment-name, .without-btn, .article-level-edit-btn,
.files-list-item, .brend-item, .article-edit-btn, .success, 
.PDV, .descr-title,.article-sifra, .JSweb_price, .JSaction_price,
.right-product-price .price-num
{
    font-weight: 600;
}
/***************************************/
/*FONT 500*/
label,.JSlevel-3 li a, .call-centar > span, .icon-text, .categories-title, .price-holder,
.shop-product-card .currency-info, .shop-product-card-list .currency-info, .print-wish p,
.add-to-cart
{
    font-weight: 500;
}
/***************************************/

/*OUTLINE NONE*/
.btn.focus, .btn:focus, .btn:hover, .JSproducts_slick > *:focus,
a:link, a:visited, a:active, button:focus, .btn-slider, input:focus, select:focus, textarea:focus
{ 
    outline: none; 
}
/***************************************/
/*LINE HEIGHT 1*/
.line-h, img, .facebook-btn-share, .first-popup .close-popup,  
.price-holder, .generic_car ul, .generic_car_list ul 
{
    line-height: 1;
}
/***************************************/
/*TEXT UPPERCASE*/
.h2-container, .shop-product-card-list .ribbon-sale span, .ft-section-title, .compare-table tr td:first-child, .without-btn,
.global-currency
{
    text-transform: uppercase;
}
/***************************************/
/*FONT SIZE 85%*/
img, .breadcrumb li, .selected-filters li, .JSsubcat-toggle, .related-custom .title,
.compare-table tr td:first-child, .files-list-item, .review, .comment-rating, .sub-group a
{
    font-size: 85%;
}
/***************************************/
/*DISPLAY BLOCK*/
.section-title, .group-title, .filter-price, .main-menu .drop-2 li a,  .main-menu > li:hover .drop-2,
.search_list__item__link, .manufacturer-categories a,  
.product-price, .shop-product-card-list .ribbon-sale span,  
.comment-content, .comment-content span,.JSwithout-reg-none-personal.active, 
.JSwithout-reg-personal.active, .category-name-link, .category__list, .category__list__item__link, 
.category-sidebar__list__item__link, .admin-article .supplier, .JSlevel-1 a, .main-menu li a,
.price-num:not(.mp-price, .discount) , .price-label
{
    display: block;
}
/***************************************/
/*DISPLAY NONE*/
.JSfilters-slide-toggle-content:not(.JSshow-manufac), .JShidden-msg, .JSlevel-2, .JSlevel-4,
.JSwithout-reg-none-personal, .JSwithout-reg-personal, .JShidden-if-no-filters, .dropdown-backdrop, 
.cookies_tabs, .login-dropdown-none, .price-holder .global-currency,
.mp_price_grid .global-currency,  .product-old-price .global-currency
{
    display: none;
}
/***************************************/
/*DISPLAY FLEX*/
.flex, .cart-item li
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-flex-wrap: wrap;
}
.justify-center {
    justify-content: center;
    -webkit-justify-content: center;
}
/***************************************/
/*VERTICAL ALIGN MIDDLE*/
.v-align, a.elevatezoom-gallery, a.JScart-less-gram, a.JScart-more-gram, .generated-features-list > li:nth-child(1), 
.generated-features-list > li:nth-child(2), .generated-features-list > li ul li,
.button, .like-it, .printer a i
{
    vertical-align: middle;
}
/***************************************/
/*MARGIN AUTO*/
.first-popup .first-popup-inner, .margin-auto, .zoomWrapper img,
a.elevatezoom-gallery img, .cart-item li > *, .slick-slider img,
.gallery_slider img, .modal-cont img, .JSmain_img
{
    margin: auto;
}
/***************************************/
/*OVERFLOW HIDDEN*/
.sub-group a, .overflow-hdn,
.JSmain-slider, .related-custom .title, .shop-product-card .product-name,
.product-image-wrapper, .generic_car ul, .generic_car_list ul, .shop-product-card-list .ribbon-sale,
a.elevatezoom-gallery, .additional_img a, .brend-item, .price-holder, 
.JSproducts_slick .slick-list, .gallery_slider a, .main_imgGallery, .map-frame,
.add-to-cart-container, .border-triangle, .shop-product-card .currency-info
{
    overflow: hidden;
}
/***************************************/
/*MAX WIDTH 100%*/
.first-popup-inner img, .max-width
{
    max-width: 100%;
}
/***************************************/

/* SLIDER DEVICE FLAGS */

.JSsliderDeviceFlag[data-device='1'], .JSsliderDeviceFlag[data-device='2'] {
    display: block;
}
.JSsliderDeviceFlag[data-device='3'], .JSsliderDeviceFlag[data-device='4'] {
    display: none;
}

/*CURSOR POINTER*/
.button, .pagination .disabled a:hover, .pagination .disabled a, .first-popup .close-popup, .JSsubcat-toggle, .printer a i,
#JScompareTable .JSclearCompare, .zoomLens, a.elevatezoom-gallery, .without-btn, .JSmain_img, .JSclose-modal:hover,
.JScookiesInfo_btn, .JS-mob-o-filters
{
    cursor: pointer;
}

/*BECAUSE OF SAFFARI*/
header .row:before, header .row:after, .preheader .row:before, .preheader .row:after,
.banners.row:before, .banners.row:after, footer .row:before, footer .row:after,
.JSfooter-secs:after, .JSfooter-secs:before
{   
    width:0; 
    height:0;
}
/***************************************/
.seo {  
    position: absolute;
    top: -999px;
    left: -999px;
}
img {
    color: #bbb;  
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
}
.JSleft-body-link, .JSright-body-link { 
    position: absolute;
    left: 0; 
    z-index: 1;
}
.JSright-body-link {  
    left: unset;
    right: 0;
}
/**********/
/*.global-currency {
    font-size: 70%;
}*/
/*===================*/

.mailto { word-break: break-word; }

.opacity-0 { opacity: 0; }

.justify-between { justify-content: space-between; }
.mb-1 { margin-bottom: 1rem; }
.mb-2 { margin-bottom: 2rem; }
 
/*===================*/
.capcha {
    border: 1px solid #ddd; 
    padding: 10px 0;
    margin: 10px 0; 
}
.capcha input[type="text"]{
    width: auto; 
    margin: 0 5px;
} 
/*====================*/ 
.currency-btn{
    background-color: var(--currency_bg);
    color: var(--currency_color);
    border: 1px solid #ccc;
    padding: 2px 8px;
    margin: 5px;
}

.currency-list li{ border-bottom: 1px solid #ddd; }

.currency-list, .login-dropdown { min-width: 100%; z-index: 2; }

.login-dropdown {
    left: unset;
    right: 0;
    text-align: right;
}

.logged-dropdown-user { 
    min-width: 165px;
    z-index: 2;
    padding: 15px;
}

/*NOT FOUND PAGE*/
.text-wrapper {
    padding-top: 50px;
}
.text-wrapper h3 {
    color: #192d36;
}
.wrap-home-button {
    padding-top: 35%;
}
.home-button {
    background: #e45f4e;
    color: #fff;
    font-size: 24px;
    padding: 5px 65px;
    font-weight: 500;
}
/***************/

/*.logged-dropdown-user > div { margin-top: 10px; }*/

/*.login-dropdown li a, .logged-dropdown-user li a { padding: 7px 5px; }*/

[class*="col-"]{ min-height: 0; }

/***********/

.pagination { margin: 10px 0 5px; }

.pagination li a {
    padding: 5px 10px;
    background-color: var(--pagination_bg);
    border: none;
}
.pagination>.active>a, .pagination>.active>a:hover{
    background: var(--pagination_bg_active);
    color: var(--pagination_color_active);
    font-weight: 600;
    border-bottom: 1px solid #e30000;
    border-radius: 0 !important;
    z-index: 0;
} 
/***********/

.soc-network{ margin: 0 2px; } 

.soc-network:nth-of-type(2) { margin-top: -3px; }

.nav>li>a:focus, .nav>li>a:hover{ background-color: transparent; }

a:link, a:visited, a:active { text-decoration: none; color: inherit; }
a:hover{ color: var(--global_color); transition: all 0.1s ease 0s; -webkit-transition: all 0.1s ease 0s; }
ul { list-style-type: none; }
/* h1, h2, h3, h4, h5, h6 { font-family: 'Open Sans', Arial, sans-serif;  } */
h1 { font-size: 1.8em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1.1em; }
h6 { font-size: 1em; }

.full-height {
    height: 100%;
}
.z-index-1 {
    z-index: 1;
}
/***********/

.section-title {  
    margin: 0 0 10px;
    font-size: 22px;
    padding: 5px 0;
  /*  border-bottom: 1px solid #DADADA; */
    color: var(--h2_color);
    text-align: center;
    text-transform: uppercase;
}
.JSlist-article .section-title {
    color: #000;
    text-align: left;
    font-weight: 400;
    text-transform: initial;
    margin-bottom: 0;
    min-width: 200px;
    padding: 8px 15px;
    padding-right: 30px;
    clip-path: polygon(0 0, 0 100%, 0 100%, 100% 100%, 90% 0);
    -webkit-clip-path: polygon(0 0, 0 100%, 0 100%, 100% 100%, 90% 0);
}
 .group-title {
    padding: 5px 15px;
    margin: 10px 0;
    color: #747474;
    border-left: 3px solid var(--global_color);
 }

/*.section-title:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 60px;
    background-color: var(--global_color);
}*/

/*NEW STYLE FOR REPRESENTATIVE EX.*/
.flex-me{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-flex-wrap: wrap;
}
.flex-me{
    align-items: unset;
}

/*PAGE WEB CREDIT*/
.web-credit a {
    color: #ffdd00;
    background: #000;
    padding: 13px 5px!important;
    font-weight: 600;
}
.web-credit:hover {
   color: #ffdd00;
}
.max-w-70 {
    max-width: 1170px;
    margin: auto;
}
.card-credit {
    padding: 20px;
    margin: 30px 8px;
    border: 1px solid var(--yellow);
    height: calc(100% - 60px);
}
.card-credit h3 {
    font-size: 21px;
}
.card-credit > * {
    margin-bottom: 20px;
}
.image-card-credit {
    background: var(--yellow) url(../../../images/icons_webcredit.png) no-repeat;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-position: 2px;
    background-size: auto 70%;
}
.no-paper-icon {
    background-position: -95px;
}
.online-icon {
    background-position: -201px;
}
.bg-gray {
    background-color: #f5f5f5;
    padding-top: 30px;
}
.bg-gray .card-credit {
    border-color: transparent;
}
.image-card-benefits {
    background: url(../../../images/icons_benefits.png) no-repeat;
    width: 115px;
    height: 105px;
    background-position: 2px;
}
.benefit_second_icon { background-position: -122px; }

.benefit_third_icon { background-position: -250px; }

.benefit_fourth_icon { background-position: -373px; }

.terms-credit {
    background: var(--yellow);
    padding: 20px 10px;
    margin: 15px 0;
}
.terms-credit h3 {
    font-size: 18px;
    padding-bottom: 10px;
}
.terms-credit ul {
    list-style-type: disc;
    margin-left: 25px;
}
.image-card-apply {
    background: url(../../../images/web_credit_apply.png) no-repeat;
    width: 110px;
    height: 110px;
    background-position: -3px;
    background-size: auto 80%;
}
.apply_second_icon { background-position: -122px; }

.apply_third_icon { background-position: -264px; }

.apply_fourth_icon { background-position: -390px; }

.apply_fifth_icon { background-position: -516px; }

.table-credit {
    width: 100%;
    max-width: 550px;
    margin: auto;
    box-shadow: 1px 2px 5px 1px #dfdede;
    -webkit-box-shadow: 1px 2px 5px 1px #dfdede;
}
.table-credit > tbody > tr > td {
    border: none;
    text-align: left;
}
.table-credit > tbody > tr:nth-of-type(odd) {
    background: #f5f5f5;
}


/***********/ 

#launch_btn {
    background: #000;
    margin: 5px 0 10px;
}
#launch_btn:hover {
    opacity: .7;
}

/*CUSTOM PAGE - USLOVI KUPOVINE*/
.heading-custom-page {
    border-bottom: 1px solid #ddd;
    margin: 10px 0;
    position: relative;
}

.heading-custom-page:after {
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    background: var(--global_color);
    width: 100%;
    max-width: 150px;
    height: 3px;
}
.ul-show-dots {
    list-style-type: disc;
    list-style-position: inside;
}
.terms-of-purchase li {
    padding: 5px 0;
}
.table-delivery thead {
    background: #e5e5e5;
}
.table-delivery tbody tr:nth-of-type(even) {
    background: #efefef;
}
.terms-of-purchase table td { 
    padding: 5px; 
    vertical-align: middle; 
}

.terms-of-purchase table p { margin: 0; }
/***********/ 
.breadcrumb { background-color: var(--breadcrumb_bg); margin: 5px 15px; }

header input[type="text"], input[type="password"], select, textarea {
    width: 100%;
    margin: 3px 0;
    color: #999;
    padding: 5px 10px;
    height: 43px;
    border: 1px solid #ddd;
    border-radius: 0;
    background-color: var(--input_bg_color);
}
 input[type="text"], input[type="password"], select, textarea {
    width: 100%;
    margin: 3px 0;
    color: #999;
    padding: 5px 10px;
    height: 35px;
    border: 1px solid #ddd;
    border-radius: 0;
    background-color: var(--input_bg_color);
}
textarea { resize: none; height: auto; }

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('/images/select_arrow.png');
    background-size: 6px;
    background-repeat: no-repeat;
    background-position: calc(100% - 8px) center;
}
.custom-select-arrow select {
    background-image: none;
}
label { 
    color: var(--label_color); 
    margin: 5px 0 0;
}

/*BUTTON*/
button {
    border: none;
    background: none;
}
.button {
    padding: 6px 15px;
    margin: 5px 0;  
    background-color: var(--btn_bg); 
}
.button, a.button { color: var(--btn_color); }

.button:hover { background-color: var(--btn_hover_bg); }

.JSsearch-button2:hover { background-color: #000; }

.add-to-cart-container button:hover, .add-to-cart-container .buy-btn:hover { 
    opacity: .8; 
    background: #2b2b2b;
}
/*========================*/ 
.first-popup {
    position: fixed;
    top: -1000px; 
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 70;
    background-color: rgba(0,0,0,.7);
    width: 100%;
    height: 100%;
    display: flex;
    display: -webkit-flex; 
}
.first-popup .first-popup-inner {  border: 1px solid #ddd; max-width: 88%; }
.first-popup .close-popup {
    color: #f2f2f2;
    position: absolute;
    top: -25px;
    right: -25px;
    z-index: 5;
    font-size: 30px; 
    padding: 0 5px;
    text-shadow: 0 0 3px #000; 
}
.first-popup .close-popup:hover {
    opacity: .8;
    text-shadow: 0 0 10px #000;
}
.first-popup-inner img { 
    max-height: 500px;
    padding: 2px;
} 
/*======================*/
/*modal checkstate*/
#checkState .modal-title a {
    color: var(--btn_bg);
}
#checkState .modal-title {
    font-size: 140%;
    padding-bottom: 15px;
}
#checkState button { margin-top: 10px; }

.JSseparated:nth-of-type(2) {      
    background: var(--global_color);
}

.JSseparated:nth-of-type(2) .shop-product-card {
    background: var(--global_color);
    box-shadow: none;
    -webkit-box-shadow: none;
}
.JSseparated:nth-of-type(2) .shop-product-card .price-holder {
    color: var(--global_color);
}
.JSseparated:nth-of-type(2) .shop-product-card .price-holder, 
.JSseparated:nth-of-type(2) .product-image-wrapper {
    background: #fff;
}
.JSproducts_slick .slick-prev, .JSproducts_slick .slick-next,
.JSblog-slick .slick-prev, .JSblog-slick .slick-next, 
.JSproduct-five-slick .slick-prev, .JSproduct-five-slick .slick-next,
.JSproduct-one-slick .slick-prev, .JSproduct-one-slick .slick-next  {  
    position: absolute;
    top: -35px;
    right: 5px;
    z-index: 2; 
    margin: 0;
    width: 25px;
    height: 25px; 
    background: transparent;
    font-size: 0;
    display: none!important;
}
.JSproducts_slick .slick-prev, .JSblog-slick .slick-prev, .JSproduct-five-slick .slick-prev, .JSproduct-one-slick .slick-prev {
    left: unset; 
    right: 35px;
}
.JSproducts_slick .slick-next:before, .JSproducts_slick .slick-prev:before, 
.JSblog-slick .slick-prev:before, .JSblog-slick .slick-next:before,
.JSproduct-five-slick .slick-next:before, .JSproduct-five-slick .slick-prev:before,
.JSproduct-one-slick .slick-next:before, .JSproduct-one-slick .slick-prev:before {
    content: '';
    border: 3px solid;
    border-color: var(--global_color) var(--global_color) transparent transparent;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    display: inline-block;
    width: 11px;
    height: 11px;
}
.JSproducts_slick .slick-prev:before, .JSblog-slick .slick-prev:before, 
.JSproduct-five-slick .slick-prev:before, .JSproduct-one-slick .slick-prev:before {
    border-color: transparent transparent var(--global_color) var(--global_color);
    margin: 0 0 0 5px;
} 
.JSproduct-one-slick .slick-next:before {
    border-color: #fff #fff transparent transparent;
}
.JSproduct-one-slick .slick-prev:before {
    border-color: transparent transparent #fff #fff;
}

.slick-slider {
    margin: 0 !important;
}

/*.JSwrapp-two-types .JSlist-article {
    margin: 0;
}*/
.JSproducts_slick, .JSseparated:nth-of-type(1) .JSproduct-five-slick, .JSproducts-wish {
    border: 1px solid var(--global_color);
    border-radius: 0.5rem;
}
.JSseparated:nth-of-type(1) .JSproduct-five-slick {
    border-radius: 0.5rem 0 0 0.5rem!important;
    border-right: none!important;
}

/*======================*/
/* filters */

.filters {
    padding: 15px 10px;
}

.filter-links{  
    padding: 8px 0 5px;
    border-bottom: 1px solid #ddd; 
    background-color: var(--filters_bg);
}
.filter-price{ margin: 0 0 10px; }

#JSslider-range {
    max-width: 95%;
    margin: auto;
}
.selected-filters li {  
    padding: 5px 10px;
    background-color: #f2f2f2;
    margin: 5px 0;
}
.filters label{ 
    background: #f5f5f5;
    padding: 2px 8px; 
    flex-wrap: nowrap;
}
.filters label:hover{ box-shadow: 3px 0 0 inset; }

.filter-text{ margin: 0 5px; width: 100%; /*for flexbox*/ }

/* SLAJDER ZA CENU END */
a.JSreset-filters-button { 
    color: #e60000;
}
/****************************/
 
/*--- PREHEADER ---*/
.preheader { background-color: var(--top_menu_bg); }

.preheader-flex, .justify-end {
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
}
.JStoggle-btn {
    margin: 5px;
    padding: 0 6px;
    border: 1px solid #fff;
    user-select: none;
}  
.top-menu a {
    color: var(--top_menu_color); 
} 
.top-menu .login-dropdown li a {
    background: var(--a_href_color);
}
.call-centar, .top-menu .login-dropdown li a, .top-menu #b2b-login-icon, .top-menu .pages_class li a {
    padding: 3px 5px;
}
.b2b-login-icon i {
    padding-right: 5px;
}
.bg-user-top {   
    width: 20px;
    height: 20px; 
} 
.bg-user-top {
    background-image: url('/images/call-center-icon.png'); 
    background-repeat: no-repeat;
    background-size: contain;
}

/**************/

.required-fields { font-size: 115%; padding: 0 15px;}
.required-fields span, .red-dot-error{ color: red; } 
/*.error { border: 1px solid red !important; }*/

/**************/ 

.menu-background { background-color: var(--global_color); } 

.main-menu li a { padding: 9px 5px; } 

.padding-v-20 { padding-top: 20px; padding-bottom: 20px; }
 
.p-r-8 { padding-right: 8px; }

.p-l-8 { padding-left: 8px; }
/*===============================*/
 
.drop-2 ul {
    margin-left:  20px;
}
/*===============================*/ 
#logout-button {
    padding: 0 5px;  
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.login-btn { 
    padding: 2px;
    color: var(--login_btn_color);
}
 
/*--- HEADER ---*/
header { background: var(--header_bg); }
.header-search select{
    border-right: 0;     
    padding: 0 20px 0 5px;
    text-overflow: ellipsis;
    white-space: nowrap; 
} 
/*.header-search span.select-wrapper::after, span.select-wrapper::after {
    content: " ";
    border-top: 0.4em solid #808080;
    border-right: 0.2em solid transparent;
    border-left: 0.2em solid transparent;
    position: absolute;
    top: 42%;
    right: 8px;
} */
.header-search input[type="text"]{ padding-right: 60px; }

.header-cart-container:hover .JSheader-cart-content{ visibility: visible; opacity: 1; }

.JSheader-cart-content {
    background: #fff;
    position: absolute;
    width: 390px;
    right: 0;
    padding: 0 10px;
    box-shadow: 0 0 15px 0 rgba(0,0,0, .2);
    visibility: hidden;
    opacity: 0;
    z-index: 10;
    transition: .1s ease-in-out;
    -webkit-transition: .1s ease-in-out;
    max-height: 550px;
    overflow: auto;
}
.mini-cart-item {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}
.mini-cart-title {
    margin: 0 0 10px;
    max-width: 90%;
}
.remove-cart-item {
    color: #e60000 !important;
    position: absolute;
    top: 0;
    right: 5px;
}
.mini-cart-img { max-height: 55px; }
 
.mini-cart-sum li { 
    text-align: right;
    padding: 5px 7px;
    margin: 8px 0;
    background: #f2f2f2; 
}
.mini-cart-sum i {
    font-style: normal;
    min-width: 100px; 
}
 
/*======= STICKY HEADER ANIMATION ========*/
.JSsticky_header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 60;
    animation: smooth_slide .3s;
    background: var(--header_bg);
    box-shadow: 0 1px 4px #a6a6a6;
}
@keyframes smooth_slide {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0);
    } 
} 
.JSsticky_header .logo img{ max-height: 45px; }
.JSsticky_header .header-cart{ margin: 12px 0; }

/*===== LOGO ==========*/
.logo { 
    padding: 8px 0; 
}
.logo img { max-height: 65px; }

/*- SEARCH -*/
.JSsearch-button2 {
    height: calc(100% - 8px);
    line-height: 36px;
    color: var(--btn_color);
    background-color: var(--btn_bg);
    position: absolute;
    top: 4px;
    right: 1px;
    margin: 0;
}
/* Search sugestions */
ul.JSsearch_list {
    position: absolute;
    left: 0px;
    top: 100%;
    z-index: 999;
    width: 100%;
    background: #fff;
    box-shadow: 1px 1px 10px #b3b3b3;
    max-height: 400px;
    overflow: auto; 
    font-size: 90%;
}
.JSsearch_list li:not(.search_list__title){ 
    margin: 0 0 5px;
    background: rgba(0,0,0,.02);
    padding: 4px 16px;
    line-height: 1.2;
} 
.search_list__item__link__cat { 
    color: #808080; 
    text-align: right; 
    display: block;
}
.search_list__title{
    font-weight: 600;
    padding: 3px 5px;
    background: rgba(0,0,0,.06);
    border-bottom: 1px solid rgba(0,0,0,.05);
}

/*- HEADER CART -*/
header .like-it, .header-cart { 
    /*width: 60px;
    height: 50px;
    font-size: 20px;
    box-shadow: none;
    vertical-align: middle;
    line-height: 50px;*/
    margin: 13px 5px;
} 
.header-search input[type="text"] {
    border: 1px solid #000;
}
.JScart_num {
    top: -8px;
    position: absolute;
    right: -6px;
    background: var(--cart_number_bg);
}
.JSbroj_wish { 
    color: var(--body_color);
} 
    
.JSheader-cart-content .close:hover { opacity: .7; }

/***************/
.sub-group a {
    height: 70px;  
    margin: 3px;  
    padding: 0 10px;
    border: 1px solid #ddd; 
} 
.sub-group a:hover {
    border-color: var(--global_color);
}
.sub-group img {
    max-height: 55px;
    max-width: 50px; 
    padding: 5px 0;
    margin: 0 8px;
}
.sub-group span {
    max-width: 130px;
}  
/*============= Manufacturer =================*/
 
.manufacturer-categories h3 {
    font-size: inherit;
    margin: 5px 0;
    padding: 5px;
    font-weight: 100;
    border-bottom: 1px solid #ccc;
}
.manufacturer-categories a {
    margin: 3px 0;
    padding: 3px 6px;
    background-color: #f9f9f9;
}
/*==========================================*/

/*- CATEGORIES -*/ 
.lvl-1-img-cont { 
    width: 25px;
    height: 20px; 
    margin: 0 5px 0 0;
}
.lvl-1-img-cont img {
    max-width: 100%;
    max-height: 25px;
    padding: 1px;
}
.lvl-2-img-cont {
    width: 50px; 
    height: 50px;
    line-height: 50px; 
}  
.lvl-2-img-cont img { 
    max-height: 100px;
    max-width: 100%;
    padding-bottom: 20px;
} 

/******************/

.JSlevel-1 li a {   
    font-size: 90%; 
    /*border-bottom: solid 1px #ddd;*/
    padding: 6px 12px;

} 

.JSlevel-1 li a .category-article-count {
    color: rgba(0,0,0,.5);
    font-size: .9rem;
}

.JSlevel-1 > li > a { 
    color: var(--level_1_color);
    line-height: 20px;
    display: flex;
    align-items: center;
} 
.JSlevel-1 li a .category-article-count {
    padding: 0 5px;
} 

.JSlevel-1 > li:hover .JSlevel-1 > li > a {
    color: red;
}
.JSlevel-2 li a {  
    color: var(--level_2_color); 
}  
.JSlevel-2 .clearfix > li > a {
    position: relative;
    padding: 0;
}
.cat-bg:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.3;
    z-index: 900;
}


/*.JSlevel-2 .clearfix > li > a:after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #e30000;
    position: absolute;
    top: 100%;
    left: 0;
    
}*/
.JSlevel-1 .logo {
    padding: 30px;
    border-bottom: 1px solid #ddd;
}

.JSlevel-3 li a { 
    border-bottom: none !important;
    display: flex;
    align-items: center;
}  

.JSlevel-3 li a:hover {
    background: #f4f6f7;
}
/******************/
 
 .JScategories h4 i {
    float: left;
    padding: 0 10px;
 }
.categories-title {
    /* padding: 8px 10px; 
    background: var(--categories_title_bg); 
    font-size: 14px;
    letter-spacing: .5px;
    border: solid 1px var(--global_color);
    text-transform: uppercase;
    text-align: left;
    cursor: pointer; */
    border-radius: 0px;
    cursor: pointer;
    color: #ed1c24;
    font-size: 14px;
    font-weight: bold;
    width: 255px;
    font-family: 'Roboto', sans-serif;
    padding: 11px 40px;
    text-transform: uppercase;
    background-color: #fff;
    letter-spacing: 0.5px;
    border-bottom: none;
    margin: 0.2rem 2rem 0.2rem 0rem;
    max-width: 100%;
} 
.categories-title i {
    font-size: 13px;
}
.JSlevel-1 {
    background-color: var(--categories_level_1_bg);
}
 .JSlevel-2 ul {
    margin-left:  20px;
    padding: 10px 0;
}

/* Warranty Modal */
.warranty_modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 460px;
    z-index: 55;
    width: 100%;
    padding: 3.75rem;
    border-radius: 10px;
    background: #fff;
    display: none;
}
.warranty_modal_overlay {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    z-index: 55;
    display: none;
}
.warranty_modal_content button { 
    margin: 1rem 0; 
    transition: background .2s;
    background: var(--global_color);
}
.warranty_modal_content button:hover {
    background: #181818;
    color: #fff;
}
.warranty_msg { color: green; }
.error-text { color: red; }
 
/*.JSlist-article { margin: 50px 0 50px 0; }*/

/******************/

.JSsubcat-toggle { 
    position: absolute;
    right: 5px;
    top: 5px;
    width: 30px;
    height: 25px;
    line-height: 25px;
    background: #fff;
}
.JSsubcat-toggle.rotate {
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    color: var(--global_color);
} 
/*- MAIN CONTENT -*/
.d-content { 
    min-height: 500px;  
}
.d-content:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%; 
    top: 0;
    left: 0;
    background: #fff;
    z-index: -1;
}
.d-content img {
    height: auto;
}
/*- MAIN SLIDER -*/
#start-page .JSmain-slider {
    max-height: 460px;   
    margin-top: 10px!important;
} 

#start-page .JSmain-slider { margin-bottom: 10px; }

#start-page .padding-slider { padding-bottom: 15px; }

.JSmain-slider img { width: 100%; /*height: 370px; object-fit: cover;*/ }  

.JSmain-slider, .JSmain-slider * {
    border-radius: 0.5rem;
}

.banners .sliderText {
    left: 15px;
    width: calc(100% - 30px);   
    pointer-events: none;
}
.sliderText {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    z-index: 2;
}
.JSmain-slider .slick-next { right: 0; }
.JSmain-slider .slick-prev { left: 0; }
.JSmain-slider .slick-next, .JSmain-slider .slick-prev {
    height: 45px;
    width: 45px;
    margin: -20px 10px 0;
    background-color: var(--global_color);
    display: none!important;
}
.JSmain-slider .slick-prev:before, .JSmain-slider .slick-next:before{
    content: '';
    border: 3px solid;
    border-color: #fff #fff transparent transparent;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    opacity: 1;
    display: inline-block;
    width: 23px;
    height: 23px;
    margin: 0 10px 0 0;
    display: none!important;
} 
.JSmain-slider .slick-prev:before {
    border-color: transparent transparent #fff #fff;
    margin: 0 0 0 10px;
}
/*SLICK DOTS*/
.slick-dots {
    bottom: 15px !important;
}
.slick-dots li {
    margin: 0 3px !important;
}
.slick-dots li button:before {
    opacity: 1 !important;
    color: #fff !important;
    box-shadow: 1px 2px 3px #383838;
    border-radius: 50%;
    content: '' !important;
    background: #fff;
}
.slick-dots li button, .slick-dots li button:before {
    width: 15px !important;
    height: 15px !important;
}
.slick-dots li button {
    padding: 0 !important;
    position: relative;
    margin: auto;
}
.slick-dots li.slick-active button, .slick-dots li.slick-active button:before {
    width: 20px !important;
    height: 20px !important;
}
.slick-dots li.slick-active button:before {
    background: var(--global_color);
}

.JSmain-slider .slick-prev:hover, .JSmain-slider .slick-next:hover,
.JSmain-slider .slick-prev:focus, .JSmain-slider .slick-next:focus { 
    background-color: rgba(227,0,0,.7); 
}
/*GROUP BANNERS */
.banners-group .bg-img {
    padding-top: 32%;
}

/*BANNERS 
/*.banners a {  
    padding: 0 3px 0 0; 
    margin: 10px 0;
}  */

.banners a { 
    padding-top: 3px;
    padding-bottom: 3px;  
    max-height: 240px;
}
.banner-classic a { 
    padding-bottom: 0;
    padding-top: 0;
    margin: 5px;
}
.banners img {
    max-height: 230px;
    border-radius: 0.5rem;
}
input[name="vaucer_code"] {
    padding-right: 85px !important;
}
.banners img:hover, .txt_banner:hover, .gallery-ban div:hover { opacity: .7; }

/*FOUR BANNER*/
.four-banner {
    border: 1px solid #ddd;
    margin: 20px 0;
    padding: 10px 0;
}

.four-banner .row { margin: 5px 0; }

.four-banner .sliderText { position: static; }

.four-banner .ban-img-cont { 
    height: 60px;
    overflow: hidden;
}
.four-banner .ban-img-cont img {
    max-height: 60px;
}
.four-banner h2 {
    font-size: 16px;
    margin-bottom: 5px;
}
.four-banner .slider-btn-link {
    color: var(--global_color);
    padding-bottom: 0;
}
.four-banner > div:not(:last-of-type):after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background: #ddd;
}
/*END FOUR BANNER*/
/**************/
.gallery-ban {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(8, auto); 
    grid-template-rows: repeat(4, 1fr);
}
.gallery-ban .bg-img:nth-child(1) {
    grid-column: 1 / 4;
    grid-row: 1 / 5;
} 
.gallery-ban .bg-img:nth-child(2) {
    grid-column: 4 / 7;
    grid-row: 1 / 3;
} 
.gallery-ban .bg-img:nth-child(3) {
    grid-column: 7 / 9;
    grid-row: 1 / 3;
} 
.gallery-ban .bg-img:nth-child(4) {
    grid-column: 6 / 4;
    grid-row: 3 / 5;
} 
.gallery-ban .bg-img:nth-child(5) {
    grid-column: 9 / 6;
    grid-row: 3 / 5;
}
.gallery-title {
    position: absolute;
    bottom: 30px;
    left: 15px;
    width: calc(100% - 30px);
    font-size: 180%;
}
/**************/

.gallery_slider {
    display: grid;
    grid-gap: 10px;
}
.gallery_slider a {
    border: 1px solid transparent;
    padding: 5px;
}
.gallery_slider .JSimg-gallery { 
   transition: .2s ease-in-out; 
    -webkit-transition: .2s ease-in-out; 
}
.gallery_slider .galery_Active, .gallery_slider .JSimg-gallery:hover {
   transform: scale(1.05);
   border: 1px solid var(--global_color);
}

/*--- GALLERY SLIDER ---*/ 
.JSmain_img {  
  transition: 0.3s;
  padding: 5px;
}
.JSmain_img:hover { opacity: 0.7; }
 
.JSmodal {
    display: none;
    position: fixed;
    z-index: 61;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0,0,0,0.9);
}
.full-screen {
    height: 100%;
}
.modal-cont {
    margin: auto;
    display: block;
    max-width: 100vw;
    width: 90%;
    /*max-height: 90%;*/
    overflow: hidden; 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}  
/****************/
.modal-cont .btn {
    border: 1px solid rgba(255,255,255, .2);
    position: absolute;
    top: 50%;
    left: 1px;
    z-index: 1;
    padding: 0;
    width: 30px;
    height: 50px;
    color: #fff;
    margin-top: -25px;
    display: none;
    background: rgba(0,0,0, .8);
} 
.modal-cont .JSright_btn {
    left: unset;
    right: 1px;
}
/****************/
.modal-cont img {
    max-height: 95vh;
    background: #fff;
}
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}  
.JSclose-modal {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 10px;
    color: #fff;
    font-size: 25px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    text-shadow: 0 0 2px #000;
}
.JSclose-modal:hover {
    opacity: .7; 
}
/****************/
.slider-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

/************************/

.related-custom .slick-prev, .related-custom .slick-next{
    display: none !important;
}
.related-custom .card{ 
    padding: 15px 0;
}
.related-custom .img-wrap img{
    max-height: 50px;
}
.related-custom .title{ 
    white-space: nowrap;
    text-overflow: ellipsis; 
}
.related-custom .price{
    font-size: 16px;
}
/*- PRODUCT */
.product-timer{
    position: absolute;
    width: 100%;
    background: #fff;
    bottom: 0;
    left: 0; 
    table-layout: fixed;
}
/*==================*/

/* POLLS */
.polls {
    max-width: 600px;
    margin: auto;
    background: rgba(0,0,0, .03);
    padding: 5px 15px;
}
.poll {
    box-shadow: 0 0 8px rgba(0,0,0, .1);
    background: #fff;
    padding: 15px;
    margin: 15px 0;
}
.poll .question {
    font-size: 105%;
    margin: 0 0 5px;
}
.poll input { cursor: pointer; }

.poll .answer {
    padding: 2px 0;
} 
.poll .answer:hover {
    background: rgba(0,0,0, .03);
}
.polls .btn {
    background: rgba(0, 0, 0, .05);
    width: 100%;
    max-width: 115px;
}
.polls .btn:hover {
    background: rgba(0, 0, 0, .09);
}

/*==================*/

.shop-product-card { 
    background: var(--product_bg); 
    transition: 0.2s all;
    -webkit-transition: 0.2s all; 
    /*margin: 15px 3%;
    box-shadow: 0 0 0px 2px #979797;
    -webkit-box-shadow: 0 0 0px 1px #979797;*/
    margin: 50px 3% 15px 3%;
    border-radius: 0.5rem;
}

.shop-product-card:not(.JSproduct-five-slick .shop-product-card):not(.JSproducts_slick .shop-product-card):not(.JSproduct-one-slick .shop-product-card) {
    margin: 20px 3% 15px 3%;
}
.sale-label { 
    background: var(--sale_action_price_bg);
    position: absolute;
    left: 0;
    top: 0; 
    z-index: 2;
    font-size: 90%;
    letter-spacing: 1px;
}
.sale-label div { 
    padding: 5px 10px;  
}
.sale-label div:nth-child(1) { background-color: var(--sale_action_bg); }

/*==========*/

/*.shop-product-card .product-meta { 
    display: flex;
    flex-direction: column; 
}*/

.not-available, .buy-btn, .shop-product-card .price-holder { 
    padding: 6px;  
    margin: 5px 0;
} 
.shop-product-card .price-holder-wrapp {
    background: linear-gradient(90deg, #fff, #2b2b2b);
}
.JSproduct-one-slick .shop-product-card .price-holder-wrapp {
    background: linear-gradient(90deg, var(--global_color), #2b2b2b);
}
.shop-product-card .price-holder {
    clip-path: polygon(0 0, 0 0, 10% 100%, 100% 100%, 100% 18%);
    -webkit-clip-path: polygon(0 0, 0 0, 10% 100%, 100% 100%, 100% 18%);
    margin: 0;
}
.shop-product-card .JSenquiry {  
    clip-path: polygon(0 0, 0 0, 10% 100%, 100% 100%, 100% 0);
    -webkit-clip-path: polygon(0 0, 0 0, 10% 100%, 100% 100%, 100% 0);
    max-width: 80%;
}
.not-available, .buy-btn { background: #2b2b2b; }

.custom-status > span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
}
.shop-product-card:not(.JSproduct-five-slick .shop-product-card):not(.JSproducts_slick .shop-product-card):not(.JSproduct-one-slick .shop-product-card) .flex-wrap-container {
    max-width: calc(100% - 10px);
    margin: auto;
}
.shop-product-card .flex-wrap-container > div { flex: 1; }

.shop-product-card .flex-initial-cart > div { flex: initial; }

.shop-product-card .flex-initial-cart > div:nth-of-type(1) {
    min-width: 50% ;
}
.flex-initial-cart button:not(.JScompare) { padding: 5px 10px; }

.shop-product-card .add-to-cart-container > * { width: 100%; } 

.shop-product-card .JScompare, .shop-product-card .JSukloni {
    position: absolute;
    top: 5px;
    z-index: 1;
    width: auto;
    right: 5px;
    background: #fff;
}
.shop-product-card .JScompare, .shop-product-card-list .JScompare, .JSukloni {
    line-height: 30px;
}
.shop-product-card .JSukloni {
    width: auto;
    color: #000;
    -webkit-box-shadow: 0px 0px 0px 1px #944447 inset, 0px 0px 0px 6px transparent;
    box-shadow: 0px 0px 0px 1px #944447 inset, 0px 0px 0px 6px transparent;
    padding: 0 5px;
}
.shop-product-card .price-holder, .add-to-cart-container  > button,  
.shop-product-card .add-to-cart-container > .buy-btn {
    height: 30px;
}
.add-to-cart-container a { line-height: 20px; }

.add-to-cart-container .JScompare:hover, .shop-product-card .JSukloni:hover {
    background: transparent;
}

.cart-product {
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(/images/cart-icon-product.png);
}
.shop-product-card .add-to-cart-container { font-size: 12px; }

/*.flex-wrap-container { margin-left: 5px; margin-right: 5px; }*/

.add-to-cart-container {  
    -webkit-transition: 0.3s all;
    transition: 0.3s all; 
}

.like-it, .printer a i { 
    /*width: 35px;
    height: 35px;
    line-height: 35px;
    -webkit-box-shadow: 0px 0px 0px 1px #944447 inset, 0px 0px 0px 6px transparent;
    box-shadow: 0px 0px 0px 1px #944447 inset, 0px 0px 0px 6px transparent;*/
    position: relative;
}
.like-it { 
    transition: all 0.1s ease 0s;
    -webkit-transition: all 0.1s ease 0s; 
}

.print-wish i { 
    font-size: 25px; 
    padding: 5px;
}
.print-wish p { font-size: 13px; }

.print-wish button { padding: 0; }

.like-it:hover, .like-it.active, .printer a i:hover{
    color: var(--global_color);
    /*-webkit-box-shadow: 0px 0px 0px 1px var(--global_color) inset, 0px 0px 0px 0px var(--global_color);
    box-shadow: 0px 0px 0px 1px var(--global_color) inset, 0px 0px 0px 0px var(--global_color);*/
}
header .header-cart img:hover {
   filter: invert(20%) sepia(92%) saturate(4617%) hue-rotate(353deg) brightness(81%) contrast(124%);
}
header .header-cart-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
}
header .header-cart-container img {
    padding: 10px;
}
header .mini-cart-item .mini-cart-img {
    position: static !important;
    transform: none !important;
    padding: 0 !important;
}
.header-icons {   
    width: 36px;
    height: 36px; 
    margin: 0 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/images/header-icons.png);
} 
.user-icon {
    background-position: -48px;
}
.cart-icon {
    background-position: -94px;
}
.JSsearch-button2 span {
    background-position: -3px;
    margin: 0;
}  
.icon-text {
    font-size: 11px;
}
.login-btn:hover .icon-text { color: var(--global_color); }

/******************/ 
.num-rates{
    margin: 5px 0 10px;
}
.num-rates .lorem-1{
    font-size: 90%;
    color: #666;
    margin: 0 30px 0 0;
}
.num-rates  .select-wrapper{
    min-width: 130px;
    display: inline-block;
}
/******************/ 
 
.product-name { 
    font-size: 16px;
    color: var(--product_title_color); 
    margin: 8px 0;
    text-align: center;
} 
.price-holder { 
    font-size: 140%;
    color: var(--product_price_color);
    background: var(--global_color);
    /*clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
    display: flex;
    align-self: end;
    justify-content: center;
    align-items: center;*/
} 
.shop-product-card .flex-initial-cart > div:nth-of-type(1) {
     position: relative;
}
.shop-product-card:not(.JSproduct-five-slick .shop-product-card):not(.JSproducts_slick .shop-product-card):not(.JSproduct-one-slick .shop-product-card) {
    border:  1px solid #bcbcbc;
}
.shop-product-card:hover:not(.JSproduct-five-slick .shop-product-card):not(.JSproducts_slick .shop-product-card):not(.JSproduct-one-slick .shop-product-card) {
    border: 1px solid #eab3b3;
    box-shadow: 0 2px 15px 2px #a9a9a9;
    -webkit-box-shadow: 0 2px 15px 2px #a9a9a9;
}
/*.shop-product-card .flex-initial-cart > div:nth-of-type(1):before {
   content: '';
    position: absolute;
    top: -9px;
    border-bottom: transparent;
    width: 100%;
    left: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 150px solid #2b2b2b;
}*/
.shop-product-card-list .price-product-on-list {
    background: #fff;
    color: #000;
    justify-content: end;
}
.shop-product-card-list .product-name {
    text-align: left;
}
.shop-product-card .currency-info {
    /*position: absolute;
    top: 100%;
    right: 0;
    width: 100%;*/
    height: 15px;
    margin-bottom: 15px;
}
.shop-product-card .currency-info, .shop-product-card-list .currency-info {
    font-size: 10px;
    padding: 0 15px;
}
.for-sale-price {
    background: var(--global_color);
    float: right;
    padding: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}
.shop-product-card .action_text_info { text-align: center; }
.shop-product-card-list .action_text_info { padding-right: 15px; }
.action_text_info { font-size: 13px; }
.product-old-price {
    text-decoration: line-through;
    color: var(--product_old_price_color); 
    font-size: 12px;
}
.shop-product-card .product-old-price, .shop-product-card .mp_price_grid {
    font-weight: 500;
    font-size: 12px;
    padding: 0 5px;
}
/*.shop-product-card:hover {
    -webkit-box-shadow: 0 0 10px #e30000;
    box-shadow: 0 0 10px 4px #e30000 ;
    -webkit-transform: translateY(-4px); 
    transform: translateY(-4px);
}*/
.shop-product-card:hover .product-image {
    transform: scale(1.07);
    -webkit-transform: scale(1.07);
}
.shop-product-card .product-image-wrapper {
    height: 200px;  
} 
.shop-product-card .product-image { 
    max-height: 200px; 
    padding: 5px; 
    transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
}
.shop-product-card .product-name { padding: 0 5px; }

.JSlist-article:nth-of-type(2) .shop-product-card .product-name a:hover {
    color: #000;
}
/*.article-details{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%); 
    transform: translate(-50%, -50%);
    opacity: 0; 
    visibility: hidden; 
    z-index: 5;  
    background-color: #FFF;
    box-shadow: 0 0 5px rgba(0,0,0, .5);
    padding: 10px 5px;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
    backface-visibility: hidden;
    -webkit-backface-visibility: visible;
}

.shop-product-card:hover .article-details{ opacity: 1;  visibility: visible;  }*/
 
.buy-btn:hover { 
    background-color: var(--add_to_cart_btn_bg_hover);
}
/*========================*/
.generic_car ul, .generic_car_list ul {
    font-size: 85%; 
    color: #333;
    height: 55px; 
}
.generic_car_list ul{
    height: auto;
}
.generic_car ul li, .generic_car_list ul li{
    width: 49%;
    padding: 0px 2px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
} 
 /* COUPONS VAUCERI */
 .discountBtn {
    position: absolute;
    top: 50%;
    right: 0;
    background: var(--btn_bg);
    transform: translateY(-50%);
    padding: 7px 15px;
    color: #fff;
}
.coupon-header {
    color: #fff;
    width: 100%;
    padding: 10px;
    background: #e30000;
    font-weight: 500;
    justify-content: space-between;
}
.coupon-box {
    margin: 10px 0;
    border-bottom: 1px solid #e30000;
}
.coupon-info {
    padding: 10px;
    border-left: 1px solid #e30000;
    border-right: 1px solid #e30000;
    justify-content: space-between;
}
 .JSremoveCoupon {
    cursor: pointer;
 }
 .coupon-amount {
    font-size: 16px;
}
.coupon-type {
    font-weight: 500;
}
/*=========== PRODUCT ON LIST ==================*/
.not-ave-price {
    color: var(--global_color);
}
.JSproduct-one-slick .not-ave-price {
    color: #fff;
}
.shop-product-card-list {
    margin: 5px 10px;
    box-shadow: 1px 1px 10px #ddd;
    background-color: var(--product_bg);
    transition: .1s ease-in-out;
    -webkit-transition: .1s ease-in-out;
}
.JSdeliveryMP { display: none; }

.shop-product-card-list:hover { box-shadow: 0 0 15px #ccc; }

.shop-product-card-list .product-image-wrapper { height: 140px; }

.shop-product-card-list .product-image {
    max-width: 90%;
    max-height: 140px; 
    padding: 5px 0; 
}
.shop-product-card-list .product-name { margin: 10px 0; }

.shop-product-card-list .ribbon-sale {
    position: absolute;
    left: -5px; 
    top: -5px;
    z-index: 1; 
    width: 75px; height: 75px;
}
.shop-product-card-list .ribbon-sale span {
    font-size: 13px;  
    line-height: 20px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 100px; 
    background: var(--global_color);
    box-shadow: 1px 1px 5px #bbb;
    position: absolute;
    top: 19px;
    left: -21px;
}
.shop-product-card-list .ribbon-sale span::before {
    content: "";
    position: absolute; left: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid var(--global_color);
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid var(--global_color);
}
.shop-product-card-list .ribbon-sale span::after {
    content: "";
    position: absolute; right: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid var(--global_color);
    border-bottom: 3px solid transparent;
    border-top: 3px solid var(--global_color);
}

/* ========= TAGS ============== */
.product-tags {
    margin: 15px;
}
.product-tags a {  
    margin: 2px; 
    padding: 0px 5px;
    color: #222; 
/*    background-color: #44aacb;*/
}
.product-tags a:hover {
    color: #e30000;
}
.product-tags div { border-bottom: 1px solid #ddd; }

/*===========================*/ 

.artical-brand-text {  
    margin: 5px 0 10px; 
} 
.article-brand-img img { max-height: 50px; padding: 5px 0; }

.product-sticker { 
    position: absolute; 
    top: 0; 
    left: 15px;
    width: calc(100% - 30px);
    z-index: 1;
}
.shop-product-card .product-sticker {
    top: unset;
    bottom: 0;
    left: 5px;
    width: calc(100% - 10px); 
}
.article-sticker-img { flex:1; }

.article-sticker-img img { max-height: 65px; padding: 3px; }

/*--- FOOTER ---*/
footer { 
    background-color: var(--footer_bg);
    padding: 50px 0 20px; 
}

.footer-logo {
    margin: 10px auto; 
    max-height: 80px;
}
.ft-section-title { min-height: 30px; margin: 5px 0 10px 0; }
 
.ft-section-call  {
    min-height: auto;
    margin: 10px 0 5px 0;
}
.link-foot-custom {
    padding-bottom: 7px;
}
.pdf-foots {
    padding-top: 7px;
} 
.pdf-foots:after {
    content: '';
    position: absolute;
    background: #333;
    top: 0;
    z-index: 1;
    width: 100%;
    max-width: 300px;
    height: 1px;
}

 /********/
.newsletter {
    margin: 5px 0;
}
.newsletter .button {
    position: absolute;
    right: 0;
    top: 0; 
    height: 100%;
    padding: 0 10px;
}
.newsletter input {
    padding-right: 80px;
}
.newsletter input, .newsletter .button {
    margin: 0;
}
 /********/

footer li { margin: 5px 0; } 

.JSfooter-secs{
    margin: 0 0 15px;
}
/*TRUSTMARK*/
.e-trustmark a img {
    max-height: 87px;
}
.epon-uspon img {
    max-height: 43px;
    width: 132px;
    margin: 10px auto;
}
/*============== LOGO BANKS ===========*/ 
.banks > ul:first-of-type li img {
    max-height: 30px;
}
.after-footer .banks > ul:last-of-type li img {
    max-height: 42px;
}
.after-footer .banks {
    padding: 5px 0;
}
.after-footer .banks img {
    max-width: 150px;
    margin: 5px 0; 
}
.after-footer .banks .list-inline { margin-left: 0; }

/*============== COOKIES ===========*/
.JScookies-part {
    position: fixed;
    left: 0;
    bottom: -500px;
    z-index: 999;
    width: 100%;
    background: rgba(255,255,255,.9);
    box-shadow: #737373 2px 7px 9px 2px;
    -webkit-box-shadow: #737373 2px 7px 9px 2px;
}
.JScookies-part .alert {
    max-width: 640px;
    width: 100%;
}
.JScookies-part .tab-titles li {
    float: none;
    clear: both;
}
.JScookies-part .tab-content, .JScookies-part .nav-tabs  { border-color: transparent; }

.JScookies-part .nav-tabs { background: #f5f5f5; }

.cookies_tabs {
    border: 1px solid #f5f5f5;
    background: #fff;
}
.JScookies-part .tab-content {
    max-height: 115px;
    overflow-y: auto;
}
.JScookies-part .nav-tabs > li > a, .JScookies-part .nav-tabs > li.active > a { padding: 5px 15px; }  

.JScookies-part .nav-tabs, .JScookies-part .nav-tabs > li > a, .JScookies-part .nav-tabs > li.active > a { 
    border: none; 
    border-radius: 0; 
}
.JScookies-part .nav-tabs > li > a:hover { background: #fff; }

.JScookies-part h4 { padding-bottom: 5px; }

.JScookiesInfo_btn { text-decoration: underline; }

/*============== SOCIAL ICONS ===========*/
.preheader .social-icons {
    position: fixed;
    right: 0;
    top: 35%;
    transform: translateY(-35%);
    display: -webkit-flex;
    -webkit-flex-direction: column;
    display: flex;
    flex-direction: column;
    z-index: 50;
}
.social-icons a {
    display: inline-block;
    font-size: 16px;
    width: 25px;
    height: 25px; 
    margin: 1px 0; 
    line-height: 25px;
    text-align: center;
    border-radius: 4px;
    color: #fff;
    background-color: #454545;
}
.social-icons a:hover { opacity: .7; } 
/*.social-icons .facebook { background-color: #3b5999; }
.social-icons .twitter { background-color: #55acee; }
.social-icons .google-plus { background-color: #dd4b39; }
.social-icons .skype { background-color: #00AFF0; border-radius: 50px; }
.social-icons .youtube { background-color: #b30000; }
.social-icons .linkedin { background-color: #007bb5; }
.social-icons .instagram { background-color: #C13584; }*/
footer .social-icons a { 
    margin: 10px 2px; 
    font-size: 17px;
    width: 28px;
    height: 28px; 
    line-height: 28px;
}

/*--- SCROLL TO TOP ---*/
.JSscroll-top {
    position: fixed;
    font-size: 18px;
    line-height: 18px; 
    color: #747474;
    right: -70px;
    bottom: 95px; 
    background: var(--scroll_top_bg);
    z-index: 20;
    padding: 10px 15px;
    border-radius: 3px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.JSscroll-top:hover { background: var(--btn_bg); color: var(--btn_color);  }

/* ======= NEWS ========= */
.news {
    padding: 10px;
    margin: 20px 0;
    background: #fff;
    box-shadow: 0 0 3px 5px rgba(0,0,0, .05);
}
.news:hover {
    box-shadow: 0 0 4px 6px rgba(0,0,0, .1);
}
.bg-img {
    padding-top: 80%;
    background: center/cover no-repeat;
}
.overlink {
    position: absolute;
    width: 100%;
    height: 100%; 
    top: 0;
    left: 0;
}
.news-title {
    margin: 10px 0;
    font-size: 135%;  
    font-weight: 500; 
}
.news-desc {
    height: 43px;
}

iframe, table { max-width: 100%; }

.news iframe, .single-news iframe{
    width: 100%;
    height: auto;
}
.single-news iframe{
    height: 56.25vh;
} 
.single-news { padding: 30px 0; }

/***************************/
.ktlg-page .box{
    box-shadow: 0 0 5px #ddd;
    padding: 15px 0;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box-inner-ktlg {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}
.ktlg-page span{
    font-size: 16px;
    font-weight: 500;
    display: block;
}
/*- PRODUCT LIST OPTIONS -*/
.product-options { background-color: var(--product_list_bg); margin: 5px 0; }
.view-buttons span {
    width: 20px;
    height: 20px;
    color: var(--global_color); 
    font-size: 16px;
}
.view-buttons span.active { color: #000; }
.view-buttons{ margin: 0 10px; } 
.view-buttons span:hover { transform: scale(1.2); -webkit-transform: scale(1.2); } 

/*========= COMPARED ARTICLES ==============*/
.show-compered, .show-compered-active {
    background-color: #30323A;
    color: #fff;
}
.show-compered-active{
    animation: pulse 1.5s ease-in-out infinite;
} 
@keyframes pulse {
    0% { box-shadow: 0 0 0 0 rgba(248, 105, 74, 0.66); }
    70% { box-shadow: 1px 1px 5px 20px rgba(251, 174, 157, 0); }
    100% { box-shadow: 0 0 0 0 rgba(251, 174, 157, 0); }
} 
.show-compered:hover { background: #595959;  }

#JScompareTable .JSclearCompare { 
    background: #D13E3B; 
    padding: 2px 7px;
} 
.compare-table table{ width: 100%; }

.compare-table table td { 
    max-width: 275px;
}
.compare-table img{
    max-height: 75px;
    max-width: 100%;
} 
 
.article-heading {
    margin: 10px 0;
    font-size: 23px; 
    /*color: #747474;
    padding: 5px; 
    border-bottom: 1px solid #ddd;
    background: linear-gradient(to left, #fff, #f2f2f2);*/
} 
/*- PRODUCT PREVIEW IMAGE -*/
.zoomWrapper {
    width: 100% !important;
    height: 400px !important;
    line-height: 400px; 
    background: #fff;
    overflow: hidden !important; 
} 
.zoomWindowContainer { display: none !important; }

.zoomWrapper span { width: 100% !important; }
.zoomWrapper img {
    position: relative !important;
    height: auto !important;
    max-height: 100% !important;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    top: 50%;
    width: auto !important; 
    padding: 10px 0;
}
a.elevatezoom-gallery { 
    width: 100%;
    height: 90px;
    display: inline-flex;
    display: -webkit-inline-flex;
    background: #fff;
    z-index: 1; 
    border: 1px solid #ddd;
    margin: 5px 0;
    padding: 10px; 
}
a.elevatezoom-gallery img {  
    max-height: 70px; 
    max-width: 100%;
}
.fancybox-overlay-fixed { background: rgba(0, 0, 0, .7); }
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url('../../../images/fancybox/fancybox_sprite.png') !important;
} 
.additional_img a { 
    border: 1px solid #dddd;
    max-width: 60px;
    width: 100%; 
    height: 50px;
}
.additional_img a:hover{
    border-color: var(--global_color);
}
.additional_img img{
    max-height: 45px; 
    padding: 5px;
    margin: 2px 0;
}
/* B2C RMA */
.rma-form {
    max-width: 650px;   
}
.rma-form h3 {
    padding: 10px 0px 10px;
}
.rma-form input[type="checkbox"] {
    height: 30px;
    width: 30px;
}
.rma-form .col-xs-12 > .flex {
    padding: 5px 0 5px;
} 
.rma-form .col-xs-12 > .flex > span {
    padding: 0px 5px;
}
.page-title-with-desc {  
    padding: 30px 0px 5px;
}
.page-desc {
    padding: 5px 0px 30px;
}
/* /////// */
/* ======================= */ 

.product-preview-info .review { margin: 5px 0; }

.product-preview-info * { letter-spacing: .3px; }
  
.add-to-cart-area { margin: 10px 0; }
 
/************/  
.attributes {
    margin: 0 0 10px;
} 
.attributes span {
    padding: 2px 8px;
    color: #fff;
    text-shadow: 1px 1px 1px #000; 
    border: 3px solid #ddd;
}
.attributes input { position: absolute; visibility: hidden; }

.attributes input:checked + span { border: 3px solid #000; }
 
 
/***********************/ 

.delivery-content {
    border: 1px solid #000;
    padding: 5px 8px;
    grid-gap: 8px;
}

.delivery-content > div {
    line-height: 1.1;
    flex: 1;
    font-size: 13px;
}
.delivery-content img { max-height: 40px; }

.product-preview-price, .print-wish, .term-article {
    /*border: 1px solid #efefef;
    padding: 3px 10px;*/
    padding: 5px;
}
.print-wish { padding: 10px; }

/*.print-wish .like-it, .printer a i { width: 65px; }*/

.product-preview-price > div {
    margin: 8px 0;
}
.price-label, .discount {
    font-size: 115%;
}
.price-num {
    font-size: 130%;
    color: var(--discount_price_color); 
    margin-bottom: 20px;
}
.mp-price, .price-num.discount { 
    color: var(--body_color);
}
.main-price {
    font-size: 200%;
}
.left-product-price h5 {
    background-color: #d00000;
    margin: 25px 0 10px;
    padding: 3px;
}
.right-product-price .price-num {
    font-size: 160%;
}
.left-product-price h5, .right-product-price .price-label {
    font-size: 13px;
}

.right-product-price p { 
    color: #d40d18;
    font-size: 11px;
}
.right-product-price > div { line-height: 1.2; }

/*.JSweb_price .global-currency, .JSaction_price .global-currency {
    vertical-align: super;
    font-size: 65%;
}*/
.gray-code {
    color: #747474;
    min-width: 150px;  
}
/* ENERGY CLASS */
.energyClass {
    height: 46px;
    clip-path: polygon(0% 0%, 70% 0%, 100% 50%, 70% 100%, 0% 100%);
    padding: 0px 30px 0px 10px;
    position: relative;
    z-index: 17;
    color: #000;
    font-size: 26px;
    line-height: 45px;
    font-weight: 600;
    display: none;
    border: 1px solid #000;
}

/* ENERGY CLASS CONTROLS */
.JSenergyClassToggle[energy-data="11"] { display: none; }
/* ENERGY CLASS COLORS */
.energyClass[energy-class="1"] { background: #00a751; display: inline-block; border-color: #00a751; }
.energyClass[energy-class="2"] { background: #4cb949; display: inline-block; border-color: #4cb949; }
.energyClass[energy-class="3"] { background: #bdd62e; display: inline-block; border-color: #bdd62e; }
.energyClass[energy-class="4"] { background: #fff301; display: inline-block; border-color: #fff301; }
.energyClass[energy-class="5"] { background: #77ad40; display: inline-block; border-color: #77ad40; }
.energyClass[energy-class="6"] { background: #c9d22b; display: inline-block; border-color: #c9d22b; }
.energyClass[energy-class="7"] { background: #ffed00; display: inline-block; border-color: #ffed00; }
.energyClass[energy-class="8"] { background: #e9b817; display: inline-block; border-color: #e9b817; }
.energyClass[energy-class="9"] { background: #cf671b; display: inline-block; border-color: #cf671b; }
.energyClass[energy-class="10"] { background: #cf341b; display: inline-block; border-color: #cf341b; }

.energyLink {
    color: #305497;
    font-weight: 600;
}
.energyLinkWrap {
    border-bottom: 1px solid #ddd;
}
.energyLinkWrap > div {
    font-weight: 600;
    text-decoration: underline;
    color: #305497;
}
.oldEnergyClassMark {
    flex-direction: column;
    border: 1px solid #ddd;
    border-right: 0;
    background: #fff;
    padding: 0px 2px;
    font-weight: 600;
    font-size: 12px;
}
.oldEnergyClassMark i {
    font-size: 10px;
}
/* ///////////// */
.gray-code, .energyLinkWrap, .review, .artical-brand-text, 
.article-brand-img, .dellivery-info > div:nth-of-type(2) > div, .attributes {
    padding: 5px;
}
.gray-code, .energyLinkWrap, .review, .artical-brand-text, 
.dellivery-info > div:nth-of-type(2) > div, .attributes,
.discount-percent, .left-product-price > p, .right-product-price p,
a.term-article {
    font-size: 13px;
}
.available-green {
    color: #008000;
}
.not-available-red, .dellivery-info > div:nth-of-type(2) > div, a.term-article {
    color: #d40d18;
}
.dellivery-info {
    align-items: unset;
    -webkit-align-items: unset;
} 

.JSadd-num, .JSsub-num {      
    font-size: 20px;
    height: 35px;
    width: 35px;
    line-height: 35px;
    justify-content: center;
    -webkit-justify-content: center;
    cursor: pointer;
}

.cart-add-amount {
    display: inline-flex;
    display: -webkit-inline-flex;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    align-items: center;
    -webkit-align-items: center;
    border: 1px solid #000;
    margin: 5px 0;
    width: 100%;
}
.cart-add-amount input.cart-amount {
    margin: 0;
    border: 1px solid #000;
    border-top: 0;
    border-bottom: 0;
    /*max-width: 35px;*/
    padding: 0;
    color: inherit;
}

.cart-input { grid-gap: 8px; }

.cart-input > div, .cart-input .cart-add-amount > * {
    flex:  1;
}
/*.add-to-cart-area .add-to-cart, .add-to-cart-area .button {
    background: #fff;
    color: #222;
    border: 1px solid #000;
}*/
.add-to-cart-area button .cart-product { filter: invert(1); }
/***********************/
 
/*- PRODUCT PREVIEW TABS */
.product-preview-tabs { margin-top: 20px; } 

.tab-content {
    border: 1px solid #ddd;
    border-top: 0;
    padding: 10px 5px;
    min-height: 100px;
}
.tab-content table td { text-align: left; padding: 4px 5px !important; }
.tab-content table { width: 100%; }

.tab-content table tr:nth-child(even) {
    background-color: #f2f2f2;
}
.tab-content .label, .tab-content { color: var(--body_color); }
.tab-content #description-tab iframe, .tab-content #description-tab p:has(iframe) { display: none; }

/*===== COMMENTS ========= */
.comment-content { 
    margin-bottom: 5px;
    padding: 6px 10px;
    font-size: 13px;
    box-shadow: 0px 0px 10px #ddd; 
} 
.comment-date {
    font-size: 11px;
    position: absolute;
    top: 5px;
    right: 5px;
}
.replies { margin: 0 0 0 20px; }
.replies .comment-content { color: #000; background: #e6e6e6; }

.JScomment-number {
    position: absolute;
    top: -10px;
    right: -15px;
}
.JScomment-number { font-size: 27px; }

.JScomment-number span { background: #fff; }

.JScomment-number div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: Roboto, sans-serif;
    font-size: 11px;
}
/* ============ INSIDE CART =============== */
.without-btn {
    background-color: #f5f5f5;
    color: #808080;
    margin: 15px 0px;   
    padding: 8px 0;
}
.without-btn.active { background: var(--btn_bg); color: var(--btn_color); } 

.without-btn i { 
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease; 
}
.without-btn.active i { -webkit-transform: scale(1); transform: scale(1); }

/*TERM IN CART*/
.JSterm-blink {
    animation: blinkTerm .7s linear;
    animation-iteration-count: 3;
    animation-delay: 1s;
}
@keyframes blinkTerm {
    0% { 
        transform: scale(1.0); 
        -webkit-transform: scale(1.0) 
    }

    70% {
        transform: scale(1.05);
        opacity: .5;
    }
    100% { 
        transform: scale(1.0);
    }
}
.JScall-alert {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    cursor: pointer;
    width: 100%;
}
.JScheck-term { padding-top: 15px; }

/*- CART ITEMS -*/
.cart-labels { border-bottom: 1px solid #e9e9e9; }

.cart-labels li {
    padding: 7px 8px;
    color: #747474; 
} 
.cart-item li {
    padding: 5px 3px;
    border-bottom: solid 1px #e9e9e9; 
    min-height: 85px;
} 
.cart-image { max-height: 70px;  }
   

a.JScart-less-gram, 
a.JScart-more-gram,
a.JScart-more,
a.JScart-less {     
    color: #999; 
} 
input.JScart-amount {
    width: 50px;
    height: 25px;
    padding: 0;
} 
input.cart-amount {
    width: 100%;
    max-width: 70px;
    height: 35px;
    position: relative;
} 
input.cart-amount[type=number]::-webkit-inner-spin-button,
input.cart-amount[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}
input.cart-amount[type=number]::-webkit-outer-spin-button, 
input.cart-amount[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: inner-spin-button !important;
    width: 45px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%; 
}

 /*- BELOW CART -*/ 
 
.cart-summ > div { 
    padding: 5px 10px;
    border-left: solid 3px #666; 
    background: #f9f9f9;  
    border-bottom: 1px solid #ccc;
}  
.sum-label, .sum-amount {
    min-width: 45%;
}
.sum-amount { font-size: 140%; } 
   
.JSfree_delivery { color: #666; } 

.remove-item {
    color: #e60000 !important;
}
 
/*--- USER PAGE ---*/
 
.user-orders-table tr th {
    background-color: #f9f9f9;
    border-bottom: none !important;
}
/**********/
.modal-footer, .modal-header{ border: none; }

.bootbox p {    
    font-size: 120%;
    margin: 15px 0;
} 
 
.bootbox .close {
    position: absolute;
    top: 5px;
    right: 10px;
}
.bootbox .modal-dialog{ top: 30%; }

.bootbox .modal-dialog .btn{ padding: 5px 30px; border: none; border-radius: 0;}

.bootbox .modal-dialog .btn:nth-child(1){
    background-color: var(--btn_bg); 
}
.bootbox .modal-dialog .btn:nth-child(2) {
    background: #000;
}
.bootbox .modal-dialog .btn:hover{ box-shadow: 1px 1px 5px #666; }

/*--- CONTACT PAGE ---*/
 
.map-frame {
    margin: 10px 0;
    height: 330px; 
}
.map-info {
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    width: 225px;
    height: 54px;
    background: #fff;
    padding: 10px 0 10px 15px;
}
.map-info h5 {
    text-shadow: 0 0 0.1px;
    font-size: 14px;
    margin: 0 0 5px; 
    color: #000;
}
.map-info h6 { 
    color: #5B5B5B; 
    font-size: 12px;
}
.map-info h5, .map-info h6 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
footer .map-frame  {
    height: 230px; 
}

/*--------- AlL  CATEGORY PAGE -------------*/
.category-heading {
    margin: 15px 0 0;
    padding: 4px 10px;
    border-radius: 2px;
    color: #000;
    background-color: #f0f0f0;
}
.category-name-link {
    margin: 3px 0; 
    border-bottom: 1px solid #ddd;
} 
.category__list__item__link { line-height: 1.7; }
.category-name-link, .category-heading, .category__list__item__link { font-size: 1em; } 
/*--------- ALL  CATEGORY SIDEBAR ------------- */

.JScategory-sidebar__list { margin: 20px 0; background: #f0f0f0;  }
.category-sidebar__list--fix { position: fixed; top: 15px; width: 270px; }
.category-sidebar__list__item__link { 
    padding: 2px 10px;  
}
.sticky-element {
    position: sticky; 
    z-index: 1;
    top: 0;
}
/*************/
.main-menu li a:hover,  
.footer-links li a:hover
{ 
    /* color: var(--hover_color); */
    opacity: .8;
    color: inherit;
}
.JSlevel-1 > li:hover > a,
.JSlevel-2 li:hover > a {
    font-weight: 600;
}

/*************/  

.add-to-cart {
    padding: 8px 15px; 
    margin: 5px;
    width: 100%;
}
.add-to-cart:hover { /*color: var(--add_to_cart_btn_color);*/ opacity: 0.8; }

/* article page admin button*/ 

.admin-article {
    position: absolute;
    top: 65px;
    right: 0;
    background: linear-gradient(#fff,#ddd); 
    padding: 0 7px;
    margin: 5px;
    z-index: 2;  
    border: 1px solid #ddd;
    font-size: 90%;
    max-width: 200px;
}
.article-level-edit-btn { 
    border: 1px solid #bbb;
    font-size: 11px;
    padding: 0 5px; 
}
.article-edit-btn {  
    border: 1px solid #bbb; 
    font-size: 11px;
    padding: 0 5px;
    position: absolute;
    right: 0px;
    top: 0;
    background-color: #fff;
} 
 
/*======================*/
.new-content { padding: 30px 0; }

.new-content img { 
    max-width: 100%;
    max-height: 700px;      
    margin: 0 5px; 
}
/* Login/Registration Forms */
.registration-form {
    max-width: 440px; 
}
.login-title span {
    font-size: 140%;
    margin: 0 10px;
    opacity: .4;
    cursor: pointer;
}
.login-title span.active-user {
    border-bottom: 1px solid;
    opacity: 1;
}
.page-title {  
    padding: 30px 0px 30px;
}
/*************/ 
 
.forgot-psw {
    color: #777;
    margin: 10px 0;
}
    
/*======= ACTION SLIDER ==============*/
/*.btn-slider {
    padding: 1px 5px;
    color: var(--global_color);
    background-color: transparent; 
    top: -35px;
    position: absolute;
}
.btn-slider:active{ opacity: .6; }*/
  
/* ADDITIONAL FILES */
.files-list-item { 
    margin: 10px;
}
.files-name { font-weight: normal; margin: 6px; }

.features-list li { 
    border-bottom: 1px solid #ddd;
    padding: 2px 10px; 
    width: 49%;
}
.features-list li:nth-child(even) { background: #f5f5f5; }
.generated-features-list:nth-child(even) { background: #f5f5f5; }
.generated-features-list > li:nth-child(1), .generated-features-list > li:nth-child(2), .generated-features-list > li ul li {
    display: inline-block;
    padding: 2px 5px;
    line-height: 1.3;  
}
.generated-features-list > li:nth-child(1){ width: 28%; }
.generated-features-list > li:nth-child(2){ width: 70%; }
.generated-features-list > li ul li{ border-bottom: 1px solid #ddd; width: 50%; }
.generated-features-list > li ul li:nth-last-child(-n+2){ border-bottom: none; }
.files-link img { max-width: 60px; }

/*============ BRENDS ==============*/
.brend-item {
    background: #fff; 
    padding: 5px 15px; 
    color: #222;
    height: 70px;
    margin: 5px 0; 
    box-shadow: 0 0 3px 0px rgba(0,0,0, .1);
    justify-content: center;
    -webkit-justify-content: center;
}
.brend-item img{ max-height: 60px; padding: 5px 0; }
/*.brandSlider img{
    max-width: 100%;
    max-height: 60px;
    margin: 15px 0;
    }*/
    /*=======================*/
 
.no-articles{
    padding: 10px; 
    background: #f9f9f9;
}
#admin-menu { 
    background: #f2f2f2; 
    padding: 5px;   
    position: sticky;
    top: 0;
    z-index: 999; 
}
#admin-menu a i { color: #e55539; font-size: 15px; }
#admin-menu { font-size: 12px; } 
#admin-menu a:hover { color: #aaa; }
.success { margin: 10px 0 0;  padding: 5px; }

/* OCENE */
 
.review i { color: var(--review_star_color); } 
.bw { background-color: var(--inner_body_bg); }
/*.karak-row {
    min-height: 25px;
    border-bottom: 1px solid #bbb; 
}
.karak-row:last-child{
    border-bottom: none;
}*/

/*---------- MEDIAQUERIES ----------*/
@media screen and (min-width: 1630px) {
    .container { width: 1600px !important; margin: auto; }
    .d-content:after { 
        max-width: 1600px !important; /* CONTAINER CONTENT WIDTH */
        left: calc(50% - 800px) !important; /* 800px = (CONTAINER CONTENT WIDTH / 2)  */ 
    }
    .lg-width-col {
        width: 33.3% !important;
    }
}

@media screen and (min-width: 1366px) { 
    #product-page .product-card { width: 25% !important; } 
    
    .distance-header-icons { margin-left: auto; }

    .distance-header-icons { max-width: 265px; }

    header .logo img { max-width: 260px; }
}

@media screen and (min-width: 1200px) { 

   /* .d-content:after { 
        max-width: 1140px; 
        left: calc(50% - 570px); 
    }*/
    .JSlevel-2 {
        max-width: 900px!important;
    }
    .JSseparated:nth-of-type(1) { width: 82% !important; }

    .JSseparated:nth-of-type(2) { width: 18% !important; }
    .container { margin: auto !important; }

}
@media screen and (min-width: 991px) {

    .JSlevel-1 > li:hover { 
       background: #f4f6f7;
       color: var(--global_color);
       border-radius: 0 2px 2px 0;
    }
  
    .JSlevel-1 { 
        position: fixed;
        width: 100%;
        max-width: 300px;
        left: -100%;
        height: 100%;
        top: 0;
        bottom: 0;
        z-index: 1001;
        overflow: auto;
        padding: 20px 0;
        animation: opacity-animation .2s ease;
        padding-bottom: 100px;
    } 
    .JSlevel-1.active { left: 0;}
    .shop-product-card .add-to-cart-container > * { white-space: nowrap; } 

    /*WEB CREDIT*/
    .wrapper:first-child > div {
        margin-left: 0;
    }
    .wrapper:last-child > div {
        margin-right: 0;
    }
    /*END WEB CREDIT*/

    @keyframes opacity-animation {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    #JScategoryClose {
        position: absolute;
        right: 20px;
        top: 10px;
        font-size: 30px;
        color: var(--global_color);
        cursor: pointer;
        z-index: 100;
    }

    .JScategories .logo img { max-height: 55px !important; }

    .JSlevel-2 {
        position: fixed;
        padding: 20px;
        width: calc(100vw - 400px);
        max-width: 1000px;
        left: 300px;
        right: 0; 
        background: var(--categories_level_2_bg);
        min-height: 150px;
        border-radius: 0 8px 8px 0;
        top: 37px;
        overflow-y: auto;
        max-height: calc(100% - 37px);
        z-index: 1000;
        -webkit-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);

        /* position: absolute; */
        /* padding: 10px 0; */
        /* width: 100vw; */
        /* height: 100%; */
        /* max-width: 720px; */
        /* top: 0px; */
        /* left: 100%;   */
        /* background: var(--categories_level_2_bg);  */
       /* -webkit-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.175);
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.175);*/
       /* min-height: 150px;*/
        /* overflow-y: scroll; */
    }
    .JSlevel-1 > li > a { min-height: 45px; }
    .ktlg-page .box {
        min-height: 220px;
    }

    /**************/
    .JSsubcat-toggle { 
        
        width: 8px;
        background: transparent;
    }

    .p-left { padding-left: 0; }
    
    .openCats {
        width: 100% !important;
        -webkit-transform: translateX(0%) !important;
        -ms-transform: translateX(0%) !important;
        transform: translateX(0%) !important;
    }
    
    .pages_class{
        display: inline-block;
    }
    /*#start-page .JSlevel-1 { display: block; }*/

   /* .JScategories:hover .JSlevel-1 { display: block; } */
    
    .level-2-name {
        padding-bottom: 1px;
        display: flex;  
        align-items: center;
    }

    .open-level-2 {
        display: block;
    }

    .JSlevel-2 + .JSsubcat-toggle, 
    .JSlevel-3 + .JSsubcat-toggle, 
    .drop-2, .JSlevel-4 + .JSsubcat-toggle {
        display: none;
    }
 
    /**************/
    
    body.modal-open { overflow-y: auto; margin-right: -17px; overflow-x: hidden; }
    
    /**************/
    
    .main-menu .drop-2 > li > a {
        border-bottom: 1px solid #fff;    
        margin: 0 10px; 
    }  
 
    .drop-2 { 
        position: absolute;
        top: 100%;
        left: 0;
        min-width: 180px; 
        z-index: 3;
        background-color: #E30000;
    }  
    .drop-2 li a:hover { 
        /*color: #000; 
        text-shadow: .5px .5px .5px #000;*/
        font-weight: 600;
        opacity: 1; 
    } 

    .top-menu li, .main-menu > li { display: inline-block; }

    /**************/

    /*#start-page .JSmain-slider, #start-page .banners { margin-left: 23.7%; }*/

    /**************/

    /*.shop-product-card .add-to-cart-container {  
        opacity: 0;
        visibility: hidden; 

    }  */
    /*.shop-product-card:hover .add-to-cart-container {
         opacity: 1; 
         visibility: visible;
        
     }*/ 

    /**************/
 
    #product-page .product-card { width: 33%; } 

  
    /**************/

    .JSd_content {
        width: calc(100% - 270px) ; /* CATEGORIES WIDTH */
    }
    
    .JSloader {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 50;
        background: rgba(255,255,255, .98); 
    }

    .load-ring { 
        position: relative; 
        width: 60px;
        height: 60px;
        margin: 200px 0;
    }
    .load-ring div { 
        position: absolute;
        width: 100%;
        height: 100%; 
        border: 2px solid #b3b3b3;
        border-radius: 50%;
        animation: load-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #b3b3b3 transparent transparent transparent;
    }
    .load-ring div:nth-child(1) {
        animation-delay: -0.45s;
    }
    .load-ring div:nth-child(2) {
        animation-delay: -0.3s;
    }
    .load-ring div:nth-child(3) {
        animation-delay: -0.15s;
    }
    @keyframes load-ring {
        0%   { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
    @-webkit-keyframes load-ring {
        0%   { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    } 

    /***********/ 
    .JSseparated { float: left; }

    .JSseparated:nth-of-type(1) { width: 77%; }

    .JSseparated:nth-of-type(2) { width: 23%; }

    .JSseparated:nth-of-type(2) h2:not(.product-name) { 
        position: absolute;
        bottom: 100%;
        left: 0;
        width: 100%;
        background: var(--global_color);
        text-align: center;
    }
    .JSseparated:nth-of-type(2) h2:not(.product-name) span {
        padding: 5px 0;
        text-align: center;
    }
    .JSwrapp-two-types { 
        margin-top: 30px !important;
        display: flex;
        align-items: stretch;
        flex-wrap: wrap;
        display: -webkit-flex;
        -webkit-align-items: stretch;
        -webkit-flex-wrap: wrap;
    }
    .JSseparated:nth-of-type(2) .product-image-wrapper {
        height: 287px;
        margin: 5px 15px;
    }
    .JSseparated:nth-of-type(2) .product-image {
        max-height: 277px;
    }
    .JSseparated .col-xs-12 { 
        padding-left: 0; 
        padding-right: 0; 
    }

    .JSseparated .padding-v-20 { 
        padding-bottom: 0;
    }
    .JSseparated:nth-of-type(2) .shop-product-card {
        margin-top: 0;
    }
    .JSproduct-five-slick .relative-card:after, .JSproducts_slick .relative-card:after {
        content: '';
        height: 100%; /*200px image height + 33px product-name height + margin*/
        top: 0;
        width: 1px;
        background: var(--global_color);
        position: absolute;
        left: -8px;
    }

    .banners > div {
        padding-left: 3px; 
        padding-right: 3px;
    }
}

/*--- MIN WIDTH 768px ---*/
@media screen and (min-width: 768px) {

    .generated-features-list:last-child { border-bottom: none; }

    .generated-features-list{
        font-size: 1em;
        padding: 0 10px;
        display: table;
        width: 100%;
        border-bottom: 1px solid #ccc;
    }  
    .shop-product-card .product-name {
        height: 33px;
    }
    .news .news-title {
        height: 63px;
        border-bottom: 1px solid #DADADA;
    }
    /****************/
    .main_imgGallery { height: 510px; }

    .main_imgGallery .JSmain_img { max-height: 500px; }

    .container-fluid  .gallery_slider {
        grid-template-columns: repeat(15, 1fr);
    }
    .container .gallery_slider { grid-template-columns: repeat(10, 1fr); }
    
    .gallery_slider {
        grid-auto-rows: 70px;
    }
    
    .gallery_slider img { max-height: 60px; }

    .JScookiesInfo_btn { 
        float: right; 
        padding: 6px 15px;
        margin: 5px 0;
    }

    .JSfooter-secs:first-of-type {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        display: -webkit-flex;
        -webkit-align-items: center;
        -webkit-flex-wrap: wrap;
    }

    /*============== LOGO BANKS ===========*/ 
    .after-footer .banks .banc_main_logo img { 
        max-width: 235px; 
        margin: 0 8px; 
    }
    .after-footer .banks.justify-between {
        justify-content: space-between;
        -webkit-justify-content: space-between;
    }
    .after-footer .banks.justify-center {
        justify-content: center;
        -webkit-justify-content: center;
    }

    .JSfooter-secs > div:nth-of-type(3n+3) { text-align: right; }

    .logged-dropdown-user {
        left: unset;
        right: 0;
        text-align: right;
    }
    #checkState .modal-body {
        padding: 15px 60px;
    }

    .shop-product-card, #product-page .shop-product-card {  height: 445px; } 

    .shop-product-card:not(.JSproduct-five-slick .shop-product-card):not(.JSproducts_slick .shop-product-card):not(.JSproduct-one-slick .shop-product-card) .product-image-wrapper {
        height: 280px;  
    }
    .shop-product-card:not(.JSproduct-five-slick .shop-product-card):not(.JSproducts_slick .shop-product-card):not(.JSproduct-one-slick .shop-product-card) .product-image {
        max-height: 180px;  
    }
}

/*======================*/
@media screen and (max-width: 1630px) {
    .container { 
        width: 95%; 
        margin: auto; 
    }

    .d-content:after { 
        max-width: 95%; 
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
    }
}   
@media only screen and (max-width: 991px) {

    /* SLIDER DEVICE FLAGS */
    /*.JSsliderDeviceFlag[data-device='3'] {
        display: block;
    }
    .JSsliderDeviceFlag[data-device='2'], .JSsliderDeviceFlag[data-device='4'] {
        display: none;
    }*/
    .JSsliderDeviceFlag[data-device='4'] {
        display: none;
    }
    .JSlevel-1 > li {
        position: relative;
    }
    .categories-title {
        display: none;
    }
    .login-btn {  font-size: 20px; }

    /*  WEB CREDIT  */      
    .web-credit a {
        color: #000;
        background: transparent;
    }
    .web-credit:hover {
        color: #000;
    }
    /* END WEB CREDIT   */

    #responsive-nav {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        max-width: 288px;
        width: 0%; 
        box-shadow: 0 0 5px #ccc;
        background-color: #f2f2f2;
        -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
        -webkit-transition: 0.5s all;
        transition: 0.5s all;
        z-index: 990;
        overflow-y: auto;
    }
    .JScategories .logo img { max-height: 55px !important; }

    .resp-nav-btn {  
        color: var(--global_color);
        font-size: 35px; 
    }

    .sm-static { position: static; }

    .openMe {
        width: 100% !important;
        -webkit-transform: translateX(0%) !important;
        -ms-transform: translateX(0%) !important;
        transform: translateX(0%) !important;
    }

    .JSmobile-user {
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 1;
        display: none; 
        background: var(--global_color);
        text-align: center;
    }

    .JStoggle-content {
        position: absolute;
        left: 0;
        top: 100%;
        z-index: 2;
        background: var(--global_color);
        width: 100%;
        text-align: left;

    }
    .JStoggle-content li a {
        padding: 6px !important;
    }

    .top-menu .login-dropdown li a, .top-menu #b2b-login-icon{
        padding: 6px 12px;
    }
    .top-menu .call-centar li {
        display: inline-block;
    }

    .top-menu .call-centar {
        padding: 6px 0;
    }

    /**************/ 
  
    .main-menu .drop-2 li a { margin: 0 0 0 15px; } 

    .JSsubcat-toggle { 
        display: inline-block;
        top: 10px;
    }  
 
    .main-menu { margin: 20px 0; color: #000; }   
    
    .container, .container-fluid { width: auto; padding: 0; }

    .d-content:after { 
        width: 100%;
        max-width: 100%;
        left: 0;
        transform: none;
    }
         
    .JSclose-nav { 
        position: absolute;
        right: 20px;
        top: -3px;
        font-size: 30px;
        color: var(--global_color);
        cursor: pointer;
        z-index: 100;
    } 
    .JSlevel-1 .logo { padding: 35px 20px; }

    .top-menu ul li:not(:last-of-type) a {
       border-bottom: 1px solid #fff;
    }
  
    .JSlevel-1 li a {   
        padding-top: 10px;
        padding-bottom: 10px; 
    } 
    
    .sm-no-padd { padding: 0; } 

    .hidden-small, .JSlevel-3 { display: none; }

    .padd-15 { padding: 0 15px; }
    
    #start-page .padding-slider { padding-left: 15px; padding-right: 15px;  }

    .header-cart-container { text-align: center; }

    .JSseparated:nth-of-type(2) { margin-bottom: 10px; }

    .JSseparated:nth-of-type(2) .product-image-wrapper { background: transparent;  }

    .delivery-content { 
        display: inline-flex; 
        display: -webkit-inline-flex;
    }
    .product-preview-price, .add-to-cart-area {
        max-width: 70%;
    }
    .shop-product-card:not(#product-page .shop-product-card) { margin-top: 15px; }

    .JS-mob-o-filters {
        background: #30323A;
        padding: 3px 10px;
        color: #fff;
        margin: 5px;
    }
    #product-page .filters { display: none; }

    #product-page.JS-active-filters .filters { display: block; }

    #product-page.JS-active-filters .product-page { display: none; }

    .mobile-filter-header { 
        justify-content: space-between; 
        -webkit-justify-content: space-between; 
        margin-bottom:  15px;
    }

    .mobile-filter-header > div {     
        font-size: 20px;
        font-weight: 500; 
    }

    .mobile-filter-header span { 
        font-size: 30px;
        width: 35px;
        text-align: right;
    }
}
/*=================*/
@media only screen and (max-width: 768px) {

    /* SLIDER DEVICE FLAGS */
    .JSsliderDeviceFlag[data-device='4'] {
        display: block;
    }
    .JSsliderDeviceFlag[data-device='2'], .JSsliderDeviceFlag[data-device='3'] {
        display: none;
    }

    .xs-header-ordered > *:nth-of-type(1) {
        order: 1;
    }
     .xs-header-ordered > *:nth-of-type(2) {
        order: 5;
    }
     .xs-header-ordered > *:nth-of-type(3) {
        order: 2;
    }
     .xs-header-ordered > *:nth-of-type(4) {
        order: 3;
    }
     .xs-header-ordered > *:nth-of-type(5) {
        order: 4;
    }

    .left-product-price, .right-product-price { padding-left: 0; padding-right: 0; }

    .header-search input[type="text"], .header-search select { margin-bottom: 10px; }

    .JSsearch-button2 { height: calc(100% - 15px); }

    .JScategory-sidebar__list {
        position: fixed;
        top: 50%;
        right: 0px;
        margin-right: -80%;
        width: 80%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transition: margin 0.2s ease-in-out;
        transition: margin 0.2s ease-in-out;
        border: 1px solid #ddd;
    }
    .JScategory-sidebar__list__toggler {
        line-height: 35px;
        text-align: center;
        font-size: 20px;
        width: 35px;
        height: 35px;
        position: absolute;
        top: 50%;   
        transform: translateY(-50%);
        left: -35px;
        background: #f0f0f0;
        border-radius: 3px 0px 0px 3px;
        color: #747474;
        font-weight: 700;
        border: 1px solid #747474;
        cursor: pointer;
    }

    /*.wrap-info { position: absolute; width: 100%; bottom: 0; left: 0; }*/

    .shop-product-card .product-name { word-break: break-word; font-size: 14px; }

    .shop-product-card:not(.JSproduct-five-slick .shop-product-card):not(.JSproducts_slick .shop-product-card):not(.JSproduct-one-slick .shop-product-card) .product-image-wrapper {
        height: 220px;  
    }
    .shop-product-card:not(.JSproduct-five-slick .shop-product-card):not(.JSproducts_slick .shop-product-card):not(.JSproduct-one-slick .shop-product-card) .product-image {
        max-height: 180px;  
    }

    #product-page .shop-product-card { 
        height: 400px; 
        display: flex;
        align-items: stretch;
        flex-wrap: wrap;
        display: -webkit-flex;
        -webkit-align-items: stretch;
        -webkit-flex-wrap: wrap;
    }

    #product-page .shop-product-card .wrap-info {  
       align-self: end;
       -webkit-align-self: end;
    }

    #product-page .shop-product-card > div { width: 100%; }

    .group-title { font-size: 80%; }

    .category-sidebar__list--open { margin-right: 0%;} 

    .category-sidebar__list--open .JScategory-sidebar__list__toggler:before { content: "\2192";} 
    
    .JScategory-sidebar__list__toggler:before { content: "\2190";} 

    footer li {
        margin: 10px 0;
    } 
    
    a.elevatezoom-gallery{ width: 23%; } 
    
    .sm-text-center { text-align: center; }
    
    .disableZoomer:after{
        content: ''; 
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    .generated-features-list > li:nth-child(2){ width: 100%; }
        
    .ft-section-title {
        min-height: auto;
        margin: 15px 0; 
        /*border-bottom: 1px solid #ddd; */
        padding: 0 0 5px; 
    }
         
    .category-sidebar__list__item__link{ padding: 5px 10px; } 
    
    .product-options { padding: 5px 0; }
         
    .generated-features-list { margin: 30px 0; }
    
    .product-preview-tabs .generated-features-list .features-list-title { 
        border-top: 1px solid #bbb;
        border-bottom: 1px solid #bbb;
        color: #000; 
        font-weight: 600; 
        width: 100%;
    } 

    .cart-item.row {
        border-bottom: 1px solid #ddd;
    }
 
    .price-holder {
        font-size: 140%;
    }

    /*.shop-product-card:not(.JSproduct-five-slick .shop-product-card):not(.JSproduct-one-slick .shop-product-card):not(.JSproducts_slick .shop-product-card) { 
        border-top: 1px solid #ddd; 
    }*/

    .compare-table {
        padding: 10px 3px;
    }

    input.weight { text-align: left; max-width: 85px; }

    .d-content {
        min-height: 250px;
    }

    .gallery-title {
        font-size: 110%;  
    }

    /****************/
    .main_imgGallery { height: 180px; }

    .main_imgGallery .JSmain_img { max-height: 170px; }

    .gallery_slider {
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: 50px;
    }
    .gallery_slider img { max-height: 40px; }

    .four-banner > div:nth-of-type(2):after { display: none; }

    .four-banner h2 {
        margin-top: 5px;
        font-size: 15px;
    }
    .four-banner { 
        align-items: unset; 
        -webkit-align-items: unset; 
    }
    .text-wrapper {
        text-align: center;
    }
    .wrap-home-button {
        justify-content: center;
        -webkit-justify-content: center;
        padding-top: 30px;
    }

    .banner-classic > div { padding-left: 0; padding-right: 0; }

    .banner-classic { padding-right: 12px; padding-left: 12px; }

    .banner-classic .banners a { padding-bottom: 0; margin: 3px; }

    .padding-v-20 { padding-bottom: 10px; padding-top: 10px; }
    /*============== LOGO BANKS ===========*/ 
    .after-footer .banks { 
        flex-direction: column;
        -webkit-flex-direction: column;
    }
} 

/*--- MAX WIDTH 480px ---*/
@media screen and (max-width:479px) { 
    .xs-w-100 { width: 100%; text-align: left; }
    .JSmain-slider .slick-next, .JSmain-slider .slick-prev {
        display: none !important;
    }

    .add-to-cart-area .add-to-cart { padding: 8px 5px; margin: 5px 0;}

    .xs-p-right { padding-right: 0; }

    .section-title, .news-title { font-size: 18px; }

    header .like-it, .header-cart {width: 45px; height: 45px;}
    
    .JSmain-slider .slick-next, .JSmain-slider .slick-prev{
        width: 40px;
        height: 40px;
    }

    header .header-cart-container img {padding: 5px;}

    .JSproducts_slick .slick-prev {
        right: 25px;
    }

    .JSproducts_slick .slick-next {
        right: 0;
    }

    .padding-10 { padding: 10px;}
    
    .article-heading { font-size: 16px; }

    .product-preview-price, .add-to-cart-area { max-width: 100%; }
    
    .zoomWrapper { height: 180px !important; } 
    
    .tab-titles { font-size: 13px; } 
    
    /************

    .shop-product-card .product-image-wrapper { height: 200px; }
    
    .shop-product-card .product-image { max-height: 190px; }
   
    /*************/
    
    /*.after-footer img { max-height: 30px; }*/
    
    .cart-item li { border: none; min-height: auto; } 
    
    .sliderText {
        font-size: 90%;
        background: rgba(255, 255, 255, .3);
    }
    
    .zoomContainer { display: none; }
    
    /*.JSmain-slider img { height: 180px; object-fit: cover; }*/
    
    .JSmain-slider {
        max-height: 300px;
    }
    .home-button {
        font-size: 22px;
    }
}